html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
	red: #ff5151 
	green: #8cd212
	font-family: 'Roboto', sans-serif;
*/

body { 
	background-color: #ff5151;
	font-family: 'Roboto', sans-serif;
	color: white;
	overflow: hidden;
}

header {
	padding: 1rem;
	font-weight: 500;
}

header p {
	float: left;
}

header p span {
	font-weight: 400;
}

nav {
	float: right;
}

nav ul li {
	display: inline;
}

.pie {
	margin: 0 auto;
	width: 12.5%;
	display: block;
}

main {
	padding-top: 15vh;
}

h1, h2 {
	text-align: center;
	font-size: 3rem;
	font-weight: 500;
	padding-top: 2rem;
}

h2 {
	font-size: 2rem;
	padding-top: 1rem;
}

button {
	background-color: rgba(0,0,0,0);
	border: 4px solid #ffff00;
	padding: 1rem 1.6rem 1rem 1.6rem;
	margin: 0 auto;
	margin-top: 5rem;
	display: block;
}

button a {
	color: #ffff00;
	font-size: 1.2rem;
	font-weight: 500;
	text-decoration: none;
}

button:hover {
	background-color: #ffff00;
	transition: 0.5s;
	cursor: pointer;
}

button:hover a {
	color: #ff5151;
	transition: 0.5s;
}

a {
	text-decoration: none;
	color: white;
}






/* Responsive Menu */

#menu {
	display: none;
	position: absolute;
	z-index: 10;
}

#nav-list {

}



@media screen and (max-width:528px) {
	#menu {
		display: block;
		right: 0.25rem;
		top: 0.25rem;
	}

	header {
		padding: 0;
	}

	.nav-list {
		width: 100%;
		padding: 0;
		float: none;
		text-align: center;
		opacity: 0;
		height: 0;
		-webkit-transition: all 1s;
		display: none;
	}

	.nav-list li {
		width: 100%;
		display: block;
		padding: 0;
		vertical-align: middle;
		display: table-cell;
		height: 25vh;
	}

	.show-menu {
		opacity: 1;
		height: auto;
		-webkit-transition: all 500ms;
		width: 100%;
		padding: 0;
		position: absolute;
		height: auto;
		background-color: #ff5151;
		margin: 0;
		display: table;
	}

	.show-menu li {
		height: 25vh;
		box-sizing: border-box;
		border-bottom: 2px solid white;
		width: 1600px;
		vertical-align: middle;
		display: table-cell;
		-webkit-transition: all 500ms;
	}


	.show-menu li:hover {
		background-color: #ffffff;
		transition: all 0.5s;
		color: #ff5151;
	}

	.show-menu a {
		color: white;
	}

	

	nav {
		float: none;
	}

	header p {
		text-align: left;
		position: absolute;
		top: 1.6rem;
		left: 1rem;	
	}



	.pie {
		width: 50%;
	}

	main {
		padding-top: 6rem;
	}

	h1 {
		font-size: 1.33rem;
		width: 90%;
		margin: 0 auto;
	}

	h2 {
		font-size: 1rem;
	}

	.nav-list span {
		display: none;
	}

	button {
		margin-top: 3rem;
	}


}





/* My work styles */

.my-work-body {
	background-color: #5baafa;
}

.active {
	color: #ffff00;
}

.mac-container, .iphone-container, .animation-container {
	float: left;
	width: 33%;
}

.mac, .iphone, .animation {
	margin: 0 auto;
	display: block;
}

h3 {
	text-align: center;
	font-size: 0.9rem;
	padding-top: 0.5rem;
}

.work-container {
	width: 80%;
	margin: 0 auto;
	margin-top: 6rem;
}



/* App Details */
.app-info {
	float: right;
	margin-top: 180px;
	margin-right: 0px;
	width: 700px;
	height: 600px;
	position: relative;
}

h4 {
	font-size: 1.6rem;
	font-weight: 600;
}

h5 {
	color: #ffff00;
	font-weight: 500;
	padding-left: 12px;
	padding-top: 4px;
}

.app-specs {
	padding-left: 12px;
	padding-top: 2px;
}

.app-specs li {
	padding: 2px;
	font-weight: 500;
}

.app-specs li span {
	color: #ffff00;
}

.app-info p {
	width: 66%;
	float: right;
	padding-right: 4rem;
	padding-top: 2rem;
	line-height: 1.5rem;
	font-weight: 500;
}

.github-icon {
	width: 37px;
	height: 36px;
	position: absolute;
	right: 100px;
	top: 2px;
	background-image: url(../img/github-icon.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.github-icon:hover {
	background-image: url(../img/github-icon-yellow.png);
	cursor: pointer;
	transition: all 500ms;
}






/* Bus App Styles */

#bus-app {
	padding-top: 0;
}

#phone-background {
	background-image: url(../img/phone-bg-2.png);
	width: 600px;
	height: 800px;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	left: 10%;
	right: 0;
	background-position: center bottom;
	z-index: 3;
}

#phone-screen {
	width: 271px;
	height: 474px;
	background-color: #fff;
	position: absolute;
	top: 205px;
	left: 88px;
}

/* Phone Stylings */

#bus-header {
	background-color: #34b262;
	width: 100%;
	height: 46px;
	padding: 0;
	z-index: 5;
}

#phone-head {
	text-align: center;
	padding-top: 5rem;
	font-weight: 500;
	margin-right: 25%;
}




	#phone-background {
	width: 740px;
	height: 960px;
}

#phone-screen {
	width: 335px;
	height: 584px;
	background-color: #fff;
	position: absolute;
	top: 227px;
	left: 108px;
}

/* Phone Stylings */

#bus-header {
	background-color: #34b262;
	width: 100%;
	height: 58px;
	padding: 0;
	z-index: 6;
	-webkit-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 5px 5px -3px rgba(0, 0, 0, 1);
	box-shadow:         0px 3px 5px -3px rgba(0, 0, 0, 1);
}

#bus-subheader {
	background-color: #fff;
	width: 100%;
	height: 68px;
	z-index: 5;
	position: relative;
	color: black;
	font-size: 12px;
	-webkit-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.51);
	-moz-box-shadow:    0px 3px 5px -3px rgba(0, 0, 0, 0.51);
	box-shadow:         0px 3px 5px -3px rgba(0, 0, 0, 0.51);
}

#my-location {
	width: 75%;
	margin: 0 auto;
	height: 34px;
	box-sizing: border-box;
	border-bottom: 1px solid black;
	color: #4d4d4d;
}

#my-location p {
	padding-top: 10px;
}

#destination p {
	padding-top: 10px;
	color: #c4c2c2;
}

#destination {
	width: 75%;
	margin: 0 auto;
	height: 34px;
}

#map {
	width: 100%;
	height: 290px;
	z-index: 5;
	background-image: url(../img/map.jpg);
	background-size: cover;
}

.routes {
	width: 100%;
	height: 165px;
	z-index: 5;
	background-color: #fff;
	position: relative;
	-webkit-box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    0px -2px 1px 0px rgba(0, 0, 0, 0.15);
	box-shadow:         0px -2px 1px 0px rgba(0, 0, 0, 0.15);
	transition: all 500ms;
	position: absolute;
	bottom: 0px;
}

#near-you {
	height: 45px;
	width: 100%;
	background-color: #0243df;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 1px solid #999999;
}

#near-you p {
	padding-left: 54px;
	padding-top: 14px;
}

#route-button {
	width: 48px;
	height: 48px;
	background-color: #34b262;
	border-radius: 24px;
	position: absolute;
	top: -24px;
	right: 18px;
	-webkit-box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    2px 3px 8px 0px rgba(0, 0, 0, 0.5);
	box-shadow:        0 2px 5px 0 rgba(0, 0, 0, 0.26);
	cursor: pointer;
}

/* Route Row */

.route-row {
	height: 42px;
	width: 100%;
	background-color: white;
	color: #4d4d4d;
	font-size: 12px;
	position: relative;
	border-bottom: 1px solid #f4f4f4;
}

.route-number {
	width: 24px;
	height: 24px;
	background-color: #34b262;
	border-radius: 12px;
	font-size: 13px;
	text-align: center;
	color: white;
	float: left;
	margin-left: 18px;
	margin-top: 9px;
}

.route-number p {
	padding-top: 5px;
	font-weight: 500;
}

.route-name {
	margin-top: 8px;
}

.route-name, .route-stop {
	padding-left: 16px;
	float: left;
	width: 40%;
}

.route-time {
	float: right;
	width: auto;
	font-size: 10px;
	color: #4d4d4d;
	padding-right: 36px;
	padding-top: 4px;
}

.route-stop {
	font-size: 10px;
	padding-top: 4px;
	color: #999999;
}

/* Icons */
.bus-menu {
	width: 32px;
	padding-top: 13px;
	padding-left: 13px;
	position: absolute;
	z-index: 15;
	transition: padding-left 200ms;
}

#bus-logo {
	width: 36px;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 8px;
}

#bus-star {
	width: 36px;
	position: absolute;
	right: 42px;
	top: 12px;
}

#bus-search {
	width: 24px;
	position: absolute;
	right: 12px;
	top: 18px;
}

#nav-icon-one {
	width: 12px;
	transform: rotate(33deg);
	position: absolute;
	left: 24px;
	top: 10px;
}

#swapvert {
	width: 24px;
	position: absolute;
	right: 8px;
	top: 20px;
}

.route-timer {
	width: 12px;
	position: absolute;
	right: 20px;
	bottom: 14px;
}

.route-arrow {
	width: 9px;
	transform: rotate(90deg);
	position: absolute;
	left: 49px;
	top: 10px;
}

#find-location {
	width: 24px;
	margin: 0 auto;
	display: block;
	padding-top: 12px;
}



/* Drawer Styles */

.drawer {
	width: 0px;
	height: 584px;
	top: 227px;
	left: 108px;
	position: absolute;
	background-color: #fff;
	z-index: 11;
	transition: width 300ms;
}

#drawer-header {
	width: 100%;
	height: 58px;
	background-color: #34b262;
}

.drawer-expand {
	width: 290px;
	transition: width 300ms;

}

.bus-expand {
	width: 32px;
	padding-top: 13px;
	padding-left: 243px;
	position: absolute;
	z-index: 15;
	transition: padding-left 300ms;
}

.overlay {
	width: 335px;
	height: 584px;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 227px;
	left: 108px;
	opacity: 0;
	transition: all 300ms;
}

.overlay-display {
	opacity: 1;
	transition: all 300ms;
}

.routes-expand {
	position: absolute;
	bottom: 0px;
	height: 400px;
	transition: all 500ms;
}

.bottom-routes {
	transition: all 300ms;
	opacity: 0;
}

.show-route {
	transition: all 300ms;
	opacity: 1;
}




