html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
	red: #ff5151 
	green: #8cd212
	font-family: 'Roboto', sans-serif;
*/

body { 
	background-color: #ff5151;
	font-family: 'Roboto', sans-serif;
	color: white;
}

header {
	padding: 1rem;
	font-weight: 500;
}

header p {
	float: left;
}

header p span {
	font-weight: 400;
}

nav {
	float: right;
}

nav ul li {
	display: inline;
}

nav ul li:nth-child(1) {
	color: #8cd212;
}

.pie {
	margin: 0 auto;
	width: 12.5%;
	display: block;
}

main {
	padding-top: 15vh;
}

h1, h2 {
	text-align: center;
	font-size: 3rem;
	font-weight: 500;
	padding-top: 2rem;
}

h2 {
	font-size: 2rem;
	padding-top: 1rem;
}

button {
	background-color: rgba(0,0,0,0);
	border: 4px solid #ffff00;
	padding: 1rem 1.6rem 1rem 1.6rem;
	margin: 0 auto;
	margin-top: 5rem;
	display: block;
}

button a {
	color: #ffff00;
	font-size: 1.2rem;
	font-weight: 500;
	text-decoration: none;
}

button:hover {
	background-color: #8cd212;
	transition: 0.5s;
	cursor: pointer;
}

button:hover a {
	color: #ff5151;
	transition: 0.5s;
}






/* Responsive Menu */

#menu {
	display: none;
	position: absolute;
}

#nav-list {

}



@media screen and (max-width:328px) {
	#menu {
		display: block;
		right: 0.75rem;
		top: 0.75rem;
	}

	header {
		padding: 0;
	}

	.nav-list {
		width: 100%;
		margin-top: 48px;
		float: none;
		text-align: center;
		visibility: hidden;
		opacity: 0;
		height: 0;
		-webkit-transition: all 0.1s;
	}

	.show-menu {
		visibility: visible;
		opacity: 1;
		height: auto;
		-webkit-transition: all 0.1s;
		width: 100%;
	}

	.nav-list li {
		width: 100%;
		display: block;
		padding: 1rem 0 1rem 0;
		border-bottom: 2px solid white;
	}

	nav {
		float: none;
	}

	header p {
		width: 100%;
		text-align: left;
		position: absolute;
		top: 1.6rem;
		left: 1rem;	
	}



	.pie {
		width: 50%;
	}

	main {
		padding-top: 6vh;
	}

	h1 {
		font-size: 1.33rem;
		width: 90%;
		margin: 0 auto;
	}

	h2 {
		font-size: 1rem;
	}

	.nav-list span {
		display: none;
	}

	button {
		margin-top: 3rem;
	}


}



















