@import 'partials/meyer-reset';
@import 'theme/colors';
@import 'theme/typography';
@import 'theme/grids';
@import 'theme/buttons-links';
@import 'partials/about';
@import 'partials/mcts';
@import 'partials/home';
@import 'partials/my-work';
@import 'animations/initial-animation';


.ibm-logo {
	width: 76px;
	vertical-align: middle;
	padding-left: 6px;
	padding-bottom: 5px;
}

article {
	position: relative;
}


/* transfer.html */
.web-container {
	margin-top: 10rem;
	transform:translateY(1200px);
}

.mobile-container {
	margin-top: 4rem;
	display: none;
	transform:translateY(1200px);
}

.animation-work {
	margin-top: 4rem;
	display: none;
	transform:translateY(1200px);
}
.phone-slide {
	transform:translateX(0);
	transition: all 700ms;
	transition-delay: 2000ms;
}

.web-container-transition {
	transform:translateY(0px);
	transition: 800ms;
	transition-delay: 0ms;
}

.monitor-transfer {
	width: 66%;
	margin: 0 auto;
	margin-top: 2%;
	display: block;
}

.monitor-margin {
	margin-top: 3%;
}

.back-next {
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
	margin-top: 2rem;
}

.column-1, .column-2 {
	width: 50%;
	float: left;
}

.web-work {
	margin-top: 16rem;
}

.work-pad {
	clear: both;
	
	width: 100%;
}

.see-it-live {
	position: relative;
	width: 180px;
	padding: 0.8rem 1.6rem 0.8rem 1.6rem;
	display: block;
	margin: 0 auto;
	margin-top: 108px;
}

.see-it-live a {
	color: white;
}

.see-it-live:hover a {
	color: $blue;
}

.web-info-p {
	padding-top: 2rem;
	line-height: 1.5rem;
	font-weight: 500;
	width: 90%;
}

.web-info {
	float: right;
	margin-right: 60px;
	width: 80%;
	position: relative;
}

/* about.html */
.about-body {
	background-color: #562f72;
	color: white;
	font-weight: 500;
	overflow: visible;
}

.definitions {
	width: 100%;
	text-align: center;
	font-size: 2rem;
	height: 12rem;
}

.process {
	width: 90%;
	margin-top: 4rem;
	margin: 0 auto;
}

.process ul {
	width: 100%;
	margin: 0 auto;
}

.process ul li {
	display: inline-block;
	padding: 0 2.5% 0 2.5%;
	text-align: center;
	font-size: 3rem;
	cursor: pointer;
}

.process ul li:hover {
	color: $light-yellow;
	transition: 300ms;
}

.process ul li:nth-child(1) {
	color: $light-yellow;
}

.process-icon-faded {
	opacity: 0;
}

.icon-bulb {

}

.icon-magnify {
	opacity: 1;
}

.svg-container {
	opacity: 0;
}

.svg-research {
	transform: scale(0);
}

.svg-sketch {
	transform: scale(0);
}

.svg-bright {
	opacity: 1;
}

.icon-bubble {
	-webkit-animation: icon-bubble 300ms ease-in-out;
	-webkit-animation-delay: 0ms;
	-webkit-animation-fill-mode: forwards;
}

.icon-bubble-disappear {
	-webkit-animation: icon-bubble-disappear 300ms linear;
	-webkit-animation-delay: 0ms;
	
	opacity: 0;
}

.process-detail {
	width: 45%;
	padding-left: 5%;
	font-weight: 300;
	line-height: 1.4;
	margin: 0 auto;
	margin-top: 5rem;
}

.process-icon {
	width: 54px;
	margin-bottom: 1rem;
}

.anim {
	background-color: $blue;
	border-radius: 10vw;
	position: absolute;
 	left:0;
    right:0;
    bottom: 15vw;
    margin-left:auto;
    margin-right:auto;
	z-index: 5;
}

.work {
	opacity: 1;
	z-index: 55555;
	background-color: $blue;
	width: 100vw;
	height: 100vw;
	transition: all 500ms;
	padding-bottom: 6rem;
	display: none;
}

.body-blue {
	background-color: $blue;
}


.fade-in {
	-webkit-animation: fade-in 600ms linear;
	-webkit-animation-delay: 900ms;
	opacity: 1;
}

.slide-left {
	-webkit-animation: slide-left 500ms linear;
	-webkit-animation-delay: 200ms;
	-webkit-animation-fill-mode: forwards;
	opacity: 1;
}

.fade-in-two {
	-webkit-animation: fade-in 500ms linear;
	-webkit-animation-delay: 900ms;
	opacity: 1;
}

.plz {
	width: 20vw;
	height: 20vw;
	-webkit-animation: NAME-YOUR-ANIMATIONN 800ms linear;
	-webkit-animation-fill-mode: forwards;
	z-index: 5;
}

.anim-2 {
	width: 120vw;
	height: 120vw;
	background-color: #fff;
	-webkit-animation: NAME-YOUR-ANIMATIONN 1200ms linear;
	bottom: -87vw;
	right: -40vw;
	position: absolute;
	z-index: 1;
	transform: rotate(63deg);
	opacity: 0;
}

.fade-out {
	-webkit-animation: fade-out 1200ms linear;
}

@-webkit-keyframes icon-bubble {
  0%   { transform: scale(0); opacity: 1; }
  80% { transform: scale(1.2); opacity: 1;}
  100% { transform: scale(1); opacity: 1;}
}

@-webkit-keyframes icon-bubble-disappear {
  0%   { transform: scale(1); opacity: 1; }
  40% { transform: scale(1.2); opacity: 1;}
  100% { transform: scale(0); opacity: 1;}
}


@-webkit-keyframes NAME-YOUR-ANIMATIONN {
  0%   { transform: scale(0); opacity: 1; }
  100% { transform: scale(8.5); opacity: 1; z-index: 5;}
}

	
@-webkit-keyframes plz {
  0%   { width: 20vw;
	height: 20vw;}
  100% { width: 20vw;
	height: 20vw; } 
}

@-webkit-keyframes slide-left {
  0%   {transform: translateX(-1500px); opacity:1; }
  100% { transform: translateX(0px); opacity:1;} 
}

@-webkit-keyframes fade-in {
  0%   {transform: scale(0);}
  70%  {transform: scale(1.2);}
  100% { transform: scale(1);} 
}

@-webkit-keyframes blue-bg {
  0%   { background-color: $blue;}
  100% { background-color: $blue;} 
}

@-webkit-keyframes fade-out {
  0%   {opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes NAME-YOUR-ANIMATION {
  0%   { transform: rotate(63deg); opacity: 1;}
  99%  { opacity: 1; }
  100% { transform: rotate(63deg) translateX(-100vw); opacity: 0;}
}

@-webkit-keyframes btn-hover {
  0%   { transform: translateY(2px);  }
  50%  { transform: translateY(-3px); }
  100%  { transform: translateY(2px); }
}

.display-none {
	display: none;
}

.display-block {
	-webkit-animation: fade-in 300ms linear;
	-webkit-animation-fill-mode: forwards;
}

.visible-element {
	visibility: visible;
}

.db {
	display: block;
	transition: all 300ms;
}
.hidden-element {
	visibility: hidden;
}

@media screen and (max-width: 1500px) {
	.main-padder {
		padding-top: 6vh;
	}
}

@media screen and (max-width: 460px) {

	main {
		padding-top: 6rem;
	}

	.pie {
		width: 25%;
	}

	h1 {
		font-size: 1.1rem;
		padding-top: 1rem;
	}

	h2 {
		font-size: 1rem;
		padding-top: 0.6rem;
	}

	.ibm-logo {
		width: 48px;
	}

	.git-home {
		display: none;
	}

	.nav-list span {
		display: none;
	}

	.icon-home {
		color: #ffff00;
	}
	
	.check-out-work {
		padding: 1rem 1.2rem 1rem 1.2rem;
		border: 3px solid #ffff00;

		a {
			font-size: 14px;
		}
	}

	.nav-icon {
		width: 24px;
		padding-bottom: 1px;
		display: block;
		margin: 0 auto;
	}

	header {
		position: fixed;
		bottom: 0;
		top: auto;
		width: 100%;

		nav {
			padding: 4px 0;
			float: none;
			margin: 0 auto;
			right: auto;
			top: auto;
			width: auto;
			display: block;
		}
			.nav-list li {
				display: inline-block;
				width: 23%;
				padding: 0.5%;
				padding-bottom: 4px;
				text-align: center;
				font-size: 11px;
			}
		
		p {
			position: fixed;
			top: 0;
			float: none;
			text-align: center;
			width: 100%;
			padding: 0.6rem 0;
		}
	}
}




.clearfix {
	clear: both;
}