<!DOCTYPE html>
<html>
  <head><% include ../../global/head.ejs %></head>
  <body class="blue-bg web__items bluemix">
  <% include ../../global/header.ejs %>
  <% include ../work-heading.ejs %>

  	<div class="web__item-container">
  		<h1 class="web__item-header">IBM Bluemix</h1>
  		<p class="web__item-expand">Click to view</p>
  		<div class="web__item-monitor">
  			<img src="../../img/arrow.svg" alt="" class="arrow">
  			<img src="../../img/getting-started-mac-2.gif" alt=""class="monitor__web-item">
  			<img src="../../img/arrow.svg" alt="" class="arrow">
			</div>
      <!-- <img class="web__project-view" src="img/bluemix-onboard.jpg" alt=""> -->
			<div class="web__item-content" id="bluemix-body">
				<h2 class="web__item-subheading">Get Started on IBM Bluemix</h2>
				<p class="web__item-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus veritatis qui aliquid, tempore consequatur aspernatur quis maiores culpa ratione tenetur quisquam vero minima deserunt earum, aliquam nisi. Repellat, perferendis, non. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi odio pariatur excepturi assumenda et aspernatur exercitationem sint. Eos reiciendis sed numquam non commodi cum cumque modi voluptas mollitia officiis.

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni aliquid beatae, at cupiditate recusandae. Mollitia quod, reiciendis ad placeat iusto consectetur officia voluptate delectus voluptas minima debitis provident amet. Molestias.
				</p></br>

        <p class="web__item-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus veritatis qui aliquid, tempore consequatur aspernatur quis maiores culpa ratione tenetur quisquam vero minima deserunt earum, aliquam nisi. Repellat, perferendis, non. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi odio pariatur excepturi assumenda et aspernatur exercitationem sint. Eos reiciendis sed numquam non commodi cum cumque modi voluptas mollitia officiis.

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni aliquid beatae, at cupiditate recusandae. Mollitia quod, reiciendis ad placeat iusto consectetur officia voluptate delectus voluptas minima debitis provident amet. Molestias.
				</p></br>

        <p class="web__item-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus veritatis qui aliquid, tempore consequatur aspernatur quis maiores culpa ratione tenetur quisquam vero minima deserunt earum, aliquam nisi. Repellat, perferendis, non. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi odio pariatur excepturi assumenda et aspernatur exercitationem sint. Eos reiciendis sed numquam non commodi cum cumque modi voluptas mollitia officiis.

					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni aliquid beatae, at cupiditate recusandae. Mollitia quod, reiciendis ad placeat iusto consectetur officia voluptate delectus voluptas minima debitis provident amet. Molestias.
				</p>
			</div>
  	</div>
  <% include ../../global/scripts.ejs %>
  </body>
</html>
