<!DOCTYPE html>
<html>
  <head><% include ../../global/head.ejs %></head>
  <body class="animations">
  	<% include ../../global/header.ejs %>
    <% include ../work-heading.ejs %>
    <div class="clearfix"></div>
    <div class="monitor__container">
      <a class="web__piece-bubble project__one" href="/getting-started">
        <div class="web__piece">
          <img src="../img/getting-started-mac-2.gif" alt="" class="web__monitor">
          <h2>Get Started on IBM Bluemix</h2>
        </div>
      </a>
      <a class="web__piece-bubble project__two" href="/login">
        <div class="web__piece">
          <img src="../img/login-rec-12.gif" alt="" class="web__monitor">
          <h2>IBM Bluemix Login</h2>
        </div>
      </a>
      <a class="web__piece-bubble project__three" href="/chatbot">
        <div class="web__piece">
          <img src="../img/getting-started-mac-2.gif"  alt="" class="web__monitor">
          <h2>IBM Watson Chatbot</h2>
        </div>
      </a>
    </div>
    <% include ../../global/scripts.ejs %>
	</body>
</html>
