<!DOCTYPE html>
<html>
  <head><% include ../../global/head.ejs %></head>
  <body class="blue-bg animations work">
  	<% include ../../global/header.ejs %>
    <% include ../work-heading.ejs %>
    <div class="clearfix"></div>
    <div class="monitor__container">
      <a href="https://dribbble.com/shots/2737090-Getting-Started-on-IBM-Bluemix" target="_blank" class="web__piece-bubble project__one">
        <div class="web__piece">
          <img src="../img/getting-started-mac-2.gif" alt="" class="web__monitor">
          <h2>Get Started on IBM Bluemix</h2>
        </div>
      </a>
      <a href="https://dribbble.com/shots/2868627-Login-Animation" target="_blank" class="web__piece-bubble project__two">
        <div class="web__piece">
          <img src="../img/login-rec-12.gif" alt="" class="web__monitor">
          <h2>IBM Bluemix Login</h2>
        </div>
      </a>
      <a href="https://dribbble.com/shots/3069802-Onboarding-interaction" target="_blank" class="web__piece-bubble project__three">
        <div class="web__piece">
          <img src="../img/onboard-anim-2.gif"  alt="" class="web__monitor">
          <h2>IBM Bluemix Onboarding</h2>
        </div>
      </a>
    </div>
    <div class="monitor__container">
      <a href="https://dribbble.com/shots/3661181-App-login-launch-animation" target="_blank" class="web__piece-bubble project__three">
        <div class="web__piece">
          <img src="../img/dailyuiredo-2.gif"  alt="" class="web__monitor animation-mobile">
          <h2>App login & launch</h2>
        </div>
      </a>
      <a href="/img/web-wireframe-2.gif" target="_blank" class="web__piece-bubble project__three">
        <div class="web__piece">
          <img src="../img/web-wireframe-2.gif"  alt="" class="web__monitor">
          <h2>Wireframing prototype</h2>
        </div>
      </a>
      <a href="https://dribbble.com/shots/3661189-Finance-App-Prototype" target="_blank" class="web__piece-bubble project__three">
        <div class="web__piece">
          <img src="../img/budget-anim.gif"  alt="" class="web__monitor animation-mobile">
          <h2>Finance app</h2>
        </div>
      </a>
    </div>
    <div class="monitor__container">
      <a href="https://codepen.io/rossfenrick/full/gpzJzz" target="_blank" class="web__piece-bubble project__three">
        <div class="web__piece">
          <img src="../img/think-2.gif"  alt="" class="web__monitor">
          <h2>THINK</h2>
        </div>
      </a>
    </div>
    <% include ../../global/scripts.ejs %>
	</body>
</html>
