<!DOCTYPE html>
<html>
  <head><% include ../../global/head.ejs %></head>
  <body class="animations">
  	<% include ../../global/header.ejs %>
    <% include ../work-heading.ejs %>
    <div class="clearfix"></div>
    <div class="monitor__container">
      <a href="animations/animation-get-started" class="web__piece-bubble project__one">
        <div class="web__piece">
          <img src="../img/getting-started-mac-2.gif" alt="" class="web__monitor">
          <h2>Get Started on IBM Bluemix</h2>
        </div>
      </a>
      <a href="animations/animation-login" class="web__piece-bubble project__two">
        <div class="web__piece">
          <img src="../img/login-rec-12.gif" alt="" class="web__monitor">
          <h2>IBM Bluemix Login</h2>
        </div>
      </a>
      <a  href="animations/animation-chatbot" class="web__piece-bubble project__three">
        <div class="web__piece">
          <img src="../img/getting-started-mac-2.gif"  alt="" class="web__monitor">
          <h2>Onboarding</h2>
        </div>
      </a>
    </div>
    <% include ../../global/scripts.ejs %>
	</body>
</html>
