<header>
  <a href="/" class="site__title">Ross Fenrick | <span>Product Designer</span></a>
	<nav>
		<ul class="nav__list">
			<li class=" nav__list-item icon-home">
        <a class="nav__link link-home" href="/">
          <svg class="nav__icon icon__home" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
            <path fill="#ffffff" d="M20 40v-12h8v12h10v-16h6l-20-18-20 18h6v16z"/>
        </svg>
        Home</a>
      </li>
			<span>|</span>
      <li class=" nav__list-item">
        <a class="nav__link link-about" href="/about-me">
          <svg class="nav__icon icon__about" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
              <path fill="#ffffff" d="M24 24c4.42 0 8-3.59 8-8 0-4.42-3.58-8-8-8s-8 3.58-8 8c0 4.41 3.58 8 8 8zm0 4c-5.33 0-16 2.67-16 8v4h32v-4c0-5.33-10.67-8-16-8z"/>
          </svg>
        About me</a>
      </li>
      <span>|</span>
      <li class=" nav__list-item">
        <a class="nav__link link-work" href="/my-work">
          <svg class="nav__icon icon__work" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
              <path fill="#ffffff" d="M40 12h-8v-4c0-2.21-1.79-4-4-4h-8c-2.21 0-4 1.79-4 4v4h-8c-2.21 0-3.98 1.79-3.98 4l-.02 22c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4v-22c0-2.21-1.79-4-4-4zm-12 0h-8v-4h8v4z"/>
          </svg>
        My work</a>
      </li>
      <span>|</span>
      <li class=" nav__list-item">
        <a class="nav__link link-get-in-touch" href="/get-in-touch">
          <svg class="nav__icon nav__icon-get-in-touch" width="24px" height="24px" viewBox="0 0 62 47" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Desktop-HD-Copy-2" transform="translate(-514.000000, -285.000000)" fill="#FFFFFF">
                    <g id="mail-2" transform="translate(514.000000, 285.000000)">
                        <path d="M62,2.60091146 L62,47 L0,47 L0,2.60091146 L31,30.0175781 L62,2.60091146 L62,2.60091146 Z M59.0559688,0 L2.94221484,0 L31,24.8157552 L59.0559688,0 L59.0559688,0 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </svg>
        Get in touch</a>
      </li>
    </ul>
  </nav>
</header>
