// Color palette
$blue: #5baafa;
$dark-blue: #0243df;
$red: #ff5151;
$yellow: #ffff00;
$light-yellow: #fde876;
$green: #34b262;
$white: #ffffff;
$light-blue: #28C2FF;
$magenta: #963484;

// Typography
@mixin light {
  font-weight: 300;
}

@mixin normal {
  font-weight: 400;
}

@mixin bold {
  font-weight: 500;
}

@mixin size-base {
  font-size: 1rem;
}

@mixin size-large {
  font-size: 2rem;
}

@mixin size-larger {
  font-size: 3rem;
}


h1, h2, h3 {
	@include size-larger;
  @include bold;
  text-align: center;
}

h2 {
	@include size-large;
	padding-top: 1rem;
}

h3 {
	@include size-base;
	padding-top: 1rem;
	transition: 700ms;
}

h4 {
	font-size: 1.6rem;
  @include bold;
}

h5 {
	color: $yellow;
	font-weight: 500;
	padding-left: 12px;
	padding-top: 4px;
}

// Navigation
@mixin link($nav) {
  text-decoration: none;
  &:hover {
    color: $yellow;
  }
  @if $nav {
    color: $white;
  } @else {
    color: $yellow;
  }
}

// Layout
@mixin flex {
  display: flex;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// Links and Buttons
a {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $yellow;
  }
}

.check-out-work {
	align-self: center;
	background-color: rgba(0,0,0,0);
	border: 4px solid $yellow;
	padding: 1.2rem 1.6rem 1.2rem 1.6rem;
	width: 186px;
	margin-top: 3rem;
	color: $yellow;
	font-size: 1.2rem;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	transition: 300ms ease-in-out;
	animation: btn-hover 2600ms infinite;
	transition-timing-function: ease;
}
.check-out-work:hover {
	background-color: $yellow;
	transition: 300ms ease-in-out;
	cursor: pointer;
	color: $red;
}
