<!DOCTYPE html>
<html>
  <head><% include partials/head.ejs %></head>
  <body class="about-me">
  	<% include partials/layout/header.ejs %>
		<div class="about-me-container">
			<div class="who-section">
				<h1>Who</h1>
				<p class="section-intro">
					I'm a self-taught front end developer who loves design and specializes in writing HTML/CSS/JavaScript from scratch.
				</p>

				<p>I enjoy doing everything in the process of creating software, from visual design to rapid prototyping to coding single page web applications. I love learning new things and am always working on side projects for fun in my free time. Oh, and I love CSS animations. Check out my <a href="https://www.linkedin.com/in/rossfenrick">LinkedIn</a> to read a bit more about me.</p>
			</div>

			<div class="where-section">
				<h1>Where</h1>
				<p class="section-intro">I'm currently working at the <a href="https://www.ibm.com/design" target="_blank">IBM Design</a> Studio in Austin, Texas. I work on the cloud platform product <a href="https://www.bluemix.net" target="_blank">IBM Bluemix</a>. Depending on the day I may be rapid prototyping a UI in code, conducting user testing, pair desigining with a visual designer, ideating on whiteboards, or working directly with engineering writing front end code into the product.</p>

				<p>In my first 3 months at IBM I went through IBM Design Bootcamp to learn <a href="https://www.ibm.com/design/thinking/" target="_blank">IBM's Design Thinking</a>. This is a one-of-a-kind experience to teach new designers how to achieve human-centered outcomes at speed and scale. These 3 months were incredible in helping me go from an intern at a small marketing agency to creating experiences at a software company with 370,000 employees.</p>
			</div>

			<div class="how-section">
				<h1>How</h1>
				<p class="section-intro">One of my favorite things about my job is learning new tools and skills. Here's what I'm currently using to create experiences:</p>
				<ul>
					<li>• HTML5*</li>
					<li>• CSS3*</li>
					<li>• CSS3 Animations*</li>
					<li>• Sass*</li>
					<li>• Gulp</li>
					<li>• JavaScript</li>
				</ul>

				<ul>
					<li>• jQuery</li>
					<li>• Git</li>
					<li>• Node.js</li>
					<li>• Express</li>
					<li>• Dust</li>
				</ul>

				<ul>
					<li>• Sketch*</li>
					<li>• Photoshop</li>
					<li>• Illustrator</li>
					<li>• Framer*</li>
					<li>• iTerm</li>
					<li>• Atom</li>
				</ul>

				<ul>
					<li>• Wireframing</li>
					<li>• User Research</li>
					<li>• Design Thinking</li>
					<li>• Rapid Prototyping*</li>
					<li>• User Testing*</li>
				</ul></br></br>
        <p>* indicates my strongest skills</p>
			</div>

      <div class="what-section">
        <h1>What</h1>
        <p class="section-intro">My favorite part about being a front end developer working as a product designer is bridging the gap between design and engineering. Building a solid relationship between design and engineering is an essential, yet unnoticed aspect of product design. As a designer who can code I'm in an unique position to use my skills to help translate designs and convey technical restraints.</br></br>
        One thing I really enjoy doing is pair designing with a visual designer. This process helps eliminate handoff between design and development, helps visual designers get their "pixel perfection" and usually leads to previously unthought of design decisions being made on the fly. </p>
      </div>
		</div>
    <% include partials/scripts.ejs %>
 	</body>
</html>
