<!DOCTYPE html>
<html>
  <head><% include global/head.ejs %></head>
  <body class="about-me">
  	<% include global/header.ejs %>
		<div class="about-me-container">
        <h1>About Me</h1>
				<p>
					I’m a self-taught product designer who uses code as a tool to create beautiful, human centered designs. I enjoy working at the intersection of design and engineering while meeting both organizational and user goals. I love the iterative process of talking to users, prototyping their needs and implementing these into production.
				</p>
        <div class="skills">
          <h1>Skills</h1>
          <p>Two years experience designing, prototyping and writing production front end code in a Node environment.</p></br>
          <ul>
  					<li>• HTML5</li>
  					<li>• CSS3</li>
  					<li>• CSS3 Animations</li>
  					<li>• Sass</li>
  					<li>• Gulp</li>
  					<li>• JavaScript</li>
  				</ul>

  				<ul>
  					<li>• jQuery</li>
  					<li>• Git</li>
  					<li>• Node.js</li>
  					<li>• Express</li>
  					<li>• Dust</li>
  				</ul>

  				<ul>
  					<li>• Sketch</li>
  					<li>• Photoshop</li>
  					<li>• Illustrator</li>
  					<li>• Framer</li>
  				</ul>

  				<ul>
  					<li>• Wireframing</li>
  					<li>• User Research</li>
  					<li>• Design Thinking</li>
  					<li>• Rapid Prototyping</li>
  					<li>• User Testing</li>
  				</ul>
        </div>
      <div class="experience">
        <h1>Work Experience</h1>
        <h2>IBM</h2>
        <h3>Product Designer & Front End Developer</h3>
        <h4>January 2015 - Present (2.5 years)</h4>
        <p>Went through IBM Design Bootcamp for three months at the IBM Design Studio in Austin, TX, where I learned the value of human centered design while solving real problems on various products. Working on the Cloud Platform, IBM Bluemix focusing on user experience, rapid prototyping, user testing and writing front end code.</p>
        <h5>IBM Bluemix Containers Service</h5>
        <p>Currently creating the user experience of our Containers Orchestration Service. Work with product management and engineering to create the best possible user experience for creating and managing production containers.</p>
        <h5>IBM Bluemix Growth</h5>
        <p>Focused on the “Discover, Try, Buy” experience of the product. Worked on projects that improved user experience and retention rates of registration, login, onboarding, account management, and purchasing. Worked with product management and engineering to become more data and test driven when making design decisions. </p>
      </br></br>
        <h2>BIGMPG Design/Marketing</h2>
        <h3>Web Designer and Developer</h3>
        <h4>June 2014 - December 2014 (7 months)</h4>
        <p>Collaborated with the Creative Director to create wireframes, flowcharts, layout of websites for local and regional businesses. Designed website mockups with Photoshop and Illustrator. I then took these designs and developed them with a combination of HTML5, CSS3, and jQuery.</p>
        </br></br>
        <h2>Freelancer</h2>
        <h3>Web Design & Development</h3>
        <h4>December 2013 - December 2014 (1 year)</h4>
        <p>Worked with local and regional clients, from restaurants to real estate. Mostly focused on web design but also did web development and worked with Wordpress.</p>
      </div>

      <div class="education">
        <h1>Education</h1>
        <p>I graduated high school in 2007 and since then I've been using the incredible amount of both free and paid educational content available on the internet to teach myself web development. I've mostly used Lynda.com and have finished over 25 courses on their site. A passion for learning is something I pride myself on and continue to pursue on a weekly basis.</p>
      </div>
    </div>
		</div>
    <% include global/scripts.ejs %>
 	</body>
</html>
