<!DOCTYPE html>
<html>
  <head><% include partials/head.ejs %></head>
  <body class="about-me">
  	<% include partials/layout/header.ejs %>
  	<% include partials/layout/about-me-nav.ejs %>
  	
    <% include partials/scripts.ejs %>
 	</body>
</html>