<!DOCTYPE html>
<html>
  <head><% include global/head.ejs %></head>
  <body class="about-me">
  	<% include global/header.ejs %>
		<div class="about-me-container">
        <h1>About Me</h1>
				<p>
					I’m a self-taught product designer who specializes in front end development. I use code as a tool to create beautiful, human centered designs. I enjoy working at the intersection of design and engineering while meeting both organizational and user goals. I love the iterative process of talking to users, prototyping their needs and implementing those into production. My absolute favorite thing to do is prototype.
				</p>
        <div class="skills">
          <h1>Skills & Tools</h1>
          <p>As a designer who can code I have a pretty wide selection of tools and skills. I like doing just about everything, but I specialize in Sass, prototyping, and UI design.</p></br>
          <ul>
  					<li>• HTML5</li>
  					<li>• CSS3</li>
  					<li>• CSS3 Animations</li>
  					<li>• Sass</li>
            <li>• JavaScript</li>
  					<li>• jQuery</li>
  				</ul>

  				<ul>
            <li>• Gulp</li>
  					<li>• Node.js</li>
  					<li>• Express</li>
  					<li>• Dust</li>
            <li>• Git</li>
  				</ul>

  				<ul>
  					<li>• Sketch</li>
  					<li>• Photoshop</li>
  					<li>• Illustrator</li>
  					<li>• Framer</li>
            <li>• Atom</li>
            <li>• Hyper</li>
  				</ul>

  				<ul>
            <li>• Prototyping</li>
  					<li>• Visual Design</li>
  					<li>• User Research</li>
  					<li>• Design Thinking</li>
  					<li>• User Testing</li>
            <li>• Responsive Design</li>
  				</ul>
        </div>
      <div class="experience">
        <h1>Work Experience</h1>
        <h2>IBM</h2>
        <h3>Product Designer & Front End Developer</h3>
        <h4>January 2015 - Present (2.5 years)</h4>
        <p>I went through IBM Design Bootcamp for three months at the IBM Design Studio in Austin, TX, where I learned the value of human centered design while solving real problems on various products. Working on several projects allowed us all to branch out of our individual disciplines and learn the scope of the entire design process. I specialized in creating prototypes for user testing.</p>
      </br><p>Since completing Bootcamp I've been working on IBM's Cloud Platform product, IBM Bluemix. I've spent my time on two teams:</p>
        </br><h5>IBM Bluemix Container Service</h5>
        <h3>Lead Interface Designer</h3>
        <p>I'm currently on a small team designing and developing the user experience of our Container Orchestration Service. I primarily focus on the visual & UX design of our interface, while submitting pull requests for the UI layout.</p>
        <h5>IBM Bluemix Growth</h5>
        <h3>Front End Developer</h3>
        <p>Focused on the “Discover, Try, Buy” experience of the product. Worked on projects that improved user experience and retention rates of registration, login, onboarding, account management, and purchasing. Worked with product management and engineering to become more data and test driven when making design decisions. Spent the majority of my time writing front end code in various microservices.</p>
      </br></br>
        <h2>BIGMPG Design/Marketing</h2>
        <h3>Web Designer and Developer</h3>
        <h4>June 2014 - December 2014 (7 months)</h4>
        <p>Collaborated with the Creative Director to create wireframes, flowcharts, layout of websites for local and regional businesses. Designed website mockups with Photoshop and Illustrator. I then took these designs and developed them with a combination of HTML5, CSS3, and jQuery.</p>
        </br></br>
        <h2>Freelancer</h2>
        <h3>Web Design & Development</h3>
        <h4>December 2013 - December 2014 (1 year)</h4>
        <p>Worked with local and regional clients, from restaurants to real estate. Mostly focused on web design but also did web development and worked with Wordpress.</p>
      </div>

      <div class="education">
        <h1>Education</h1>
        <p>I'm self-taught, using a variety of resources and experiences. I </p>
      </div>
    </div>
		</div>
    <% include global/scripts.ejs %>
 	</body>
</html>
