<!DOCTYPE html>
<html>
  <head><% include partials/head.ejs %></head>
  <body class="animations">
  	<% include partials/layout/header.ejs %>
		<div class="animations-container">
			<img src="img/animation-hello-2.png" alt="">
			<img  class="animation-desktop" src="img/animation-think.png" alt="">
		</div>
	</body>
</html>