<!DOCTYPE html>
<html>
  <head><% include partials/head.ejs %></head>
  <body class="blue-bg web__items bluemix">
  <% include partials/layout/header.ejs %>
  <div class="clearfix"></div>
  <div class="work__container work__container-animate">
    <div class="mac-container piece__still">
        <a href="/web"><img src="img/mac.png" alt="" class="mac mac__web"></a>
        <h3 class="web-header">Web</h3>
      </div>

      <div class="iphone-container non-animate">
       <a href="/mobile"><img src="img/iphone.png" alt="" class="iphone"></a>
        <h3>Mobile</h3>
      </div>

      <div class="animation-container non-animate animation__transform">
        <div class="animate-container">
          <div class="left-bar"></div>
          <div class="ball"></div>
          <div class="right-bar"></div>
        </div>
        <h3 class="animate-heading">Animations</h3>
      </div>
  </div>
  	<div class="web__item-container">
  		<h1 class="web__item-header">IBM Bluemix</h1>
  		<p class="web__item-expand">Click to expand</p>
  		<div class="web__item-monitor">
  			<img src="img/arrow.svg" alt="" class="arrow">
  			<img class="monitor__web-item" src="img/monitor-bluemix.png" alt="">
  			<img src="img/arrow.svg" alt="" class="arrow">
			</div>
			<div class="web__item-content">
				<h2 class="web__item-subheading">Onboarding Wizard</h2>
				<p class="web__item-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus veritatis qui aliquid, tempore consequatur aspernatur quis maiores culpa ratione tenetur quisquam vero minima deserunt earum, aliquam nisi. Repellat, perferendis, non. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis modi odio pariatur excepturi assumenda et aspernatur exercitationem sint. Eos reiciendis sed numquam non commodi cum cumque modi voluptas mollitia officiis.
				
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni aliquid beatae, at cupiditate recusandae. Mollitia quod, reiciendis ad placeat iusto consectetur officia voluptate delectus voluptas minima debitis provident amet. Molestias.
				</p>
			</div>

  	</div>
  <% include partials/scripts.ejs %>
  </body>
</html>