<!DOCTYPE html>
<html>
  <head><% include partials/head.ejs %></head>
  <body class="get-in-touch">
    <% include partials/layout/header.ejs %>
    <div class="get-in-touch-container">
    	<h1 class="get-in-touch-heading">Get in Touch</h1>
    	<div class="get-in-touch-icons-container">
    		<a href="mailto:rossfenrick@gmail.com" target="_blank"><img src="img/icon-email.svg" alt="" class="get-in-touch-icon"></a>
    		<a href="https://www.linkedin.com/in/rossfenrick" target="_blank"><img src="img/icon-linkedin.svg" alt="" class="get-in-touch-icon"></a>
    		<a href="https://github.com/rossfenrick" target="_blank"><img src="img/github-icon.svg" alt="" class="get-in-touch-icon"></a>
    		<a href="https://twitter.com/rossenfeffer" target="_blank"><img src="img/icon-twitter.svg" alt="" class="get-in-touch-icon"></a>
    	</div>
   	</div>
   	<% include partials/scripts.ejs %>
	</body>
</html>