<!DOCTYPE html>
<html>
  <head><% include global/head.ejs %></head>
  <body class="get-in-touch">
    <% include global/header.ejs %>
    <div class="get-in-touch-container">
    	<div class="get-in-touch-icons-container">
    		<a href="mailto:rossfenrick@gmail.com" target="_blank"><img src="img/icon-email.svg" alt="" class="get-in-touch-icon"></a>
    		<a href="https://www.linkedin.com/in/rossfenrick" target="_blank"><img src="img/icon-linkedin.svg" alt="" class="get-in-touch-icon"></a>
    		<a href="https://github.com/rossfenrick" target="_blank"><img src="img/github-icon.svg" alt="" class="get-in-touch-icon"></a>
        <a href="https://dribbble.com/rossfenrick" target="_blank"><img src="img/icon-dribbble.svg" alt="" class="get-in-touch-icon"></a>
    		<a href="https://twitter.com/rossfenrick" target="_blank"><img src="img/icon-twitter.svg" alt="" class="get-in-touch-icon"></a>
    	</div>
   	</div>
   	<% include global/scripts.ejs %>
	</body>
</html>
