<!DOCTYPE html>
<html>
  <head><% include global/head.ejs %></head>
  <body class="home">
  	<% include global/header.ejs %>
    <% include home/home.ejs %>
  	<% include home/footer.ejs %>
    <% include global/scripts.ejs %>
  </body>
</html>
