<!DOCTYPE html>
<html>
  <head><% include partials/head.ejs %></head>
  <body>
  	<% include partials/layout/header.ejs %>
    <% include partials/layout/home.ejs %>
  	<% include partials/layout/footer.ejs %>
    <% include partials/scripts.ejs %>
  </body>
</html>
