<!DOCTYPE html>
<html>
  <head><% include partials/head.ejs %></head>
  <body class="blue-bg work-layout work">
  	<% include partials/layout/header.ejs %>
    <main>
    	<% include partials/layout/work-select.ejs %>
    </main> 
    <% include partials/scripts.ejs %>
  </body>
</html>