<!DOCTYPE html>
<html>
  <head><% include partials/head.ejs %></head>
  <body>
  	<% include partials/layout/header.ejs %>
  	<main>
    <a href="/work-2" id="butts">try this on for size</a>
      <div id="animate" class="animate">
        <p>Hey look some of my work.</p>
      </div>

  		
  	</main>
    <% include partials/scripts.ejs %>
  </body>
</html>