<!DOCTYPE html>
<html>
  <head><% include partials/head.ejs %></head>
  <body class="blue-bg">
  	<% include partials/layout/header.ejs %>
    <main class="web-main">
      <section class="work-container work-container-add">
        <article class="mac-container">
          <a href="/web"><img src="img/mac.png" alt="" class="mac mac-resize current-border"></a>
        </article>

        <article class="iphone-container">
          <img src="img/iphone.png" alt="" class="iphone iphone-resize">
        </article>

        <article class="animation-container">
          <div class="animate-container animate-container-resize">
            <div class="left-bar left-bar-resize"></div>
            <div class="ball ball-resize"></div>
            <div class="right-bar right-bar-resize"></div>
          </div>
        </article>
      </section> <!-- end of work-container -->

      <div class="web-container">
          <div class="web-work">
                    <div class="column-1 first-column-1">
                        <img src="img/monitor-transfer-min.png" alt="" class="monitor">
                    </div>

                    <div class="column-2 first-column-2">
                        <section class="web-info">
                            <a href="http://github.com/rossfenrick/transfermke" target="_blank">
                                <div class="github-icon"></div>
                            </a>

                            <h4>Transfer Pizzeria and Café</h4>
                            <h5>Freelance Web Design & Development</h5>
                                <ul class="app-specs">
                                    <li><span>*</span> HTML5</li>
                                    <li><span>*</span> CSS3</li>
                                    <li><span>*</span> jQuery</li>
                                    <li><span>*</span> Photoshop</li>
                                    <li><span>*</span> WordPress</li>
                                    <li><span>*</span> Responsive</li>
                                </ul>
                                <p class="web-info-p">Here's some words about Transfer. Some more words just so you can know a little something about the project. Note: some design changes have been made by the client since the site launched that I cannot control.</p>
                                <div class="clearfix"></div>
                                
                                    <a class="see-it-live" href="http://www.transfermke.com" target="_blank">View site</a>
                                
                        </section>
                      </div>
                    </div> <!-- end of transfer work -->
                    <div class="clearfix"></div>
                    <div class="web-work even-work">
                        <div class="column-1 ">
                            <img src="img/monitor-blrt.png" alt="" class="monitor">
                        </div>
                        <div class="column-2 ">
                            <section class="web-info">
                                <a href="https://github.com/rossfenrick/GibbsLakeFisheree" target="_blank">
                                    <div class="github-icon"></div>
                                </a>
                                <h4>bLrT Media</h4>
                                <h5>Freelance Project (Web Design & UX)</h5>
                                <ul class="app-specs">
                                    <li><span>*</span> Adobe Photoshop</li>
                                    <li><span>*</span> Adobe Illustrator</li>
                                    <li><span>*</span> Lots of pen & paper</li>
                                </ul>
                                <p class="web-info-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum modi quaerat, molestiae omnis repudiandae tenetur dicta enim inventore facilis culpa, fugiat voluptas est, quisquam aspernatur delectus numquam consequatur quam a. Note: some design changes have been made by the client since the site launched that I cannot control.</p>
                                <div class="clearfix"></div>
                                
                                    <a class="see-it-live" href="http://www.gibbslakefisheree.com" target="_blank">view site</a>
                                
                            </section>
                        </div>
                    </div> <!-- end of blrt work -->
                    <div class="clearfix"></div>
                    <div class="web-work">
                        <div class="column-1">
                            <img src="img/monitor-rocket-clicks.png" alt="" class="monitor monitor-margin">
                        </div>

                        <div class="column-2">
                            <section class="web-info">
                                <h4>Rocket Clicks</h4>
                                <h5>Freelance Web Design</h5>
                                <ul class="app-specs">
                                    <li><span>*</span> Adobe Photoshop</li>
                                </ul>
                                <p class="web-info-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum modi quaerat, molestiae omnis repudiandae tenetur dicta enim inventore facilis culpa, fugiat voluptas est, quisquam aspernatur delectus numquam consequatur quam a. Note: some design changes have been made by the client since the site launched that I cannot control.</p>
                                <div class="clearfix"></div>
                                    <a class="see-it-live" href="http://www.transfermke.com" target="_blank">view site</a>
                            </section>
                        </div>
                    </div> <!-- end of rocket clicks work -->
                    <div class="clearfix"></div>
                    <div class="web-work even-work">
                        <div class="column-1">
                            <img src="img/monitor-nfl.png" alt="" class="monitor monitor-margin">
                        </div>

                        <div class="column-2">
                            <section class="web-info">
                                <h4>NFL GameCenter Redesign</h4>
                                <h5>Personal Project (UI Design)</h5>
                                <ul class="app-specs">
                                    <li><span>*</span> Adobe Photoshop</li>
                                </ul>
                                <p class="web-info-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum modi quaerat, molestiae omnis repudiandae tenetur dicta enim inventore facilis culpa, fugiat voluptas est, quisquam aspernatur delectus numquam consequatur quam a. Note: some design changes have been made by the client since the site launched that I cannot control.</p>
                                <div class="clearfix"></div>

                                <button class="see-it-live">
                                    <a href="http://www.transfermke.com" target="_blank">view site</a>
                                </button>
                            </section>
                        </div>
                    </div> <!-- end of nfl work -->
                    <div class="clearfix"></div>
                    
                    <div class="clearfix"></div>
                    <div class="web-work">
                        <div class="column-1">
                            <img src="img/monitor-bluemix.png" alt="" class="monitor monitor-margin">
                        </div>

                        <div class="column-2">
                            <section class="web-info">
                                <h4>IBM Bluemix</h4>
                                <h5>Front End Development</h5>
                                <ul class="app-specs">
                                    <li><span>*</span> HTML5</li>
                                    <li><span>*</span> CSS3</li>
                                    <li><span>*</span> Responsive Design</li>
                                </ul>
                                <p class="web-info-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum modi quaerat, molestiae omnis repudiandae tenetur dicta enim inventore facilis culpa, fugiat voluptas est, quisquam aspernatur delectus numquam consequatur quam a. Note: some design changes have been made by the client since the site launched that I cannot control.</p>
                                <div class="clearfix"></div>

                                <button class="see-it-live">
                                    <a href="http://www.transfermke.com" target="_blank">view site</a>
                                </button>
                            </section>
                        </div>
                    </div> <!-- end of bluemix work -->
                    <div class="clearfix"></div>
                    <a href="#web-link" class="back-to-top">back to top</a>
                </div> <!-- end of web-container-->



    </main>
    <% include partials/scripts.ejs %>
  </body>
</html>