<!DOCTYPE html>
<html>
  <head><% include partials/head.ejs %></head>
  <body class="blue-bg web-work">
  	<% include partials/layout/header.ejs %>
    <main class="web-main">
     <% include partials/layout/web-header.ejs %>
    </main>
    <div class="web-container">
      <div class="web__column-1">
        <img src="img/monitor-transfer-min.png" alt="" class="monitor monitor_1">
        <img src="img/monitor-transfer-min.png" alt="" class="monitor monitor_2">
      </div>
      <div class="web__column-2">
        <img src="img/monitor-transfer-min.png" alt="" class="monitor monitor_xl">
      </div>
      <div class="web__column-3">
        <img src="img/monitor-transfer-min.png" alt="" class="monitor monitor_3">
        <img src="img/monitor-transfer-min.png" alt="" class="monitor monitor_4">
      </div>
    </div>
    <% include partials/scripts.ejs %>
  </body>
</html>