<!DOCTYPE html>
<html>
  <head><% include partials/head.ejs %></head>
  <body class="blue-bg web-work">
  	<% include partials/layout/header.ejs %>
    <main class="web-main">
     <% include partials/layout/web-header.ejs %>
    </main>
    <div class="web-container">
      <img src="img/monitor-transfer-min.png" alt="" class="monitor">
      <img src="img/monitor-transfer-min.png" alt="" class="monitor">
      <img src="img/monitor-transfer-min.png" alt="" class="monitor">
      <img src="img/monitor-transfer-min.png" alt="" class="monitor">
      <img src="img/monitor-transfer-min.png" alt="" class="monitor">
    </div>
      
    <% include partials/scripts.ejs %>
  </body>
</html>