<!DOCTYPE html>
<html>
  <head><% include partials/head.ejs %></head>
  <body>
  	<% include partials/layout/header.ejs %>
  	<main>
      <a href="/my-work" id="butts">try this on for size</a>
      <div id="animate-2" class="animate">
        <p>Hey look some of my work.</p>
      </div>
  		
  	</main>
  	<% include partials/layout/footer.ejs %>
    <% include partials/scripts.ejs %>
  </body>
</html>