html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  padding-top: 2rem; }

h2 {
  font-size: 2rem;
  padding-top: 1rem; }

h3 {
  font-size: 1rem;
  padding-top: 1rem;
  cursor: pointer; }

h4 {
  font-size: 1.6rem;
  font-weight: 600; }

h5 {
  color: #ffff00;
  font-weight: 500;
  padding-left: 12px;
  padding-top: 4px; }

a {
  text-decoration: none;
  color: white; }

.check-out-work {
  background-color: transparent;
  border: 4px solid #ffff00;
  padding: 1.2rem 1.6rem 1.2rem 1.6rem;
  width: 186px;
  margin: 0 auto;
  margin-top: 5rem;
  display: block;
  color: #ffff00;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: 200ms ease-in-out;
  -webkit-animation: btn-hover 2600ms infinite;
  -webkit-transition-timing-function: ease; }

.check-out-work:hover {
  background-color: #ffff00;
  transition: 200ms ease-in-out;
  cursor: pointer;
  color: #ff5151; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  overflow: hidden;
  background-color: #ff5151; }

.pie {
  margin: 0 auto;
  width: 12.5%;
  display: block; }

main {
  padding-top: 15vh; }

.main-padder {
  padding-top: 5vh; }

.ibm-logo {
  width: 76px;
  vertical-align: middle;
  padding-left: 6px;
  padding-bottom: 5px; }

@-webkit-keyframes btn-hover {
  0% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px); }
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); } }

@keyframes btn-hover {
  0% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px); }
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); } }

header {
  font-weight: 500;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999999;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-animation: slideDown 540ms ease-out;
  -webkit-animation-delay: 120ms;
  -webkit-animation-fill-mode: forwards; }
  header p {
    float: left;
    padding: 1rem;
    text-align: left; }
    header p span {
      font-weight: 400; }

nav {
  right: 0;
  top: 0;
  float: right;
  padding: 1rem;
  width: auto; }
  nav ul li {
    display: inline; }

.nav-icon {
  display: none; }

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px); }
  40% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px); }
  40% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

footer {
  height: 36px;
  position: absolute;
  bottom: 0.8rem;
  right: 0.8rem;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
  -webkit-animation: slideLeft 540ms ease-out;
  -webkit-animation-delay: 320ms;
  -webkit-animation-fill-mode: forwards; }

.github-icon {
  width: 36px;
  height: 36px;
  float: right;
  cursor: pointer;
  transition: background-image 200ms ease-in-out;
  background-image: url(../img/github-icon.svg);
  background-repeat: no-repeat; }

.github-icon:hover {
  background-image: url(../img/github-icon-hover.svg);
  transition: background-image 200ms ease-in-out; }

.mobile-container .github-icon {
  right: 80px; }

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(60px);
            transform: translateX(60px); }
  40% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(60px);
            transform: translateX(60px); }
  40% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@media screen and (max-width: 648px) {
  .nav-list span {
    display: none; }
  .nav-icon {
    width: 24px;
    padding-bottom: 1px;
    display: block;
    margin: 0 auto; }
  .icon-home {
    color: #ffff00; }
  header {
    position: fixed;
    bottom: 0;
    top: auto;
    width: 100%; }
    header nav {
      padding: 0px 0;
      float: none;
      margin: 0 auto;
      right: auto;
      top: auto;
      width: auto;
      display: block; }
    header .nav-list li {
      display: inline-block;
      width: 23%;
      padding: 0.5%;
      padding-bottom: 4px;
      text-align: center;
      font-size: 11px; }
    header p {
      position: fixed;
      top: 0;
      float: none;
      text-align: center;
      width: 100%;
      padding: 0.6rem 0; } }

@media screen and (max-width: 340px) {
  header .nav-list li {
    width: 22%; } }

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2.4rem; }
  h2 {
    font-size: 1.8rem; }
  .pie {
    width: 18%; }
  .ibm-logo {
    width: 60px; } }

@media screen and (max-width: 780px) {
  .pie {
    width: 160px; }
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.6rem; } }

@media screen and (max-width: 648px) {
  main {
    padding-top: 6rem; }
  .pie {
    width: 35%; }
  h1 {
    font-size: 1.8rem;
    padding-top: 1rem; }
  h2 {
    font-size: 1.2rem;
    padding-top: 0.6rem; }
  .ibm-logo {
    width: 42px;
    padding-bottom: 3px; } }

@media screen and (max-width: 532px) {
  h1 {
    font-size: 1.1rem; }
  h2 {
    font-size: 0.9rem; } }

@media screen and (max-width: 648px) {
  footer {
    display: none; } }

#animate {
  width: 800px;
  background: #999;
  margin: 0 auto;
  -webkit-transform: translateX(1500px);
          transform: translateX(1500px); }

#animate-2 {
  width: 800px;
  background: #999;
  margin: 0 auto;
  -webkit-transform: translateX(1500px);
          transform: translateX(1500px); }

.animate {
  -webkit-animation: coming-in 840ms ease;
          animation: coming-in 840ms ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.some-animation {
  -webkit-animation: heading-out 500ms ease-in;
          animation: heading-out 500ms ease-in; }

@-webkit-keyframes coming-in {
  0% {
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px); }
  50% {
    -webkit-transform: translateX(-24px);
            transform: translateX(-24px); }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@keyframes coming-in {
  0% {
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px); }
  50% {
    -webkit-transform: translateX(-24px);
            transform: translateX(-24px); }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px); }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); } }

@-webkit-keyframes heading-out {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  40% {
    -webkit-transform: translateX(-42px);
            transform: translateX(-42px); }
  100% {
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px); } }

@keyframes heading-out {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  40% {
    -webkit-transform: translateX(-42px);
            transform: translateX(-42px); }
  100% {
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px); } }
