html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: 500; }

h2 {
  font-size: 2rem;
  padding-top: 1rem; }

h3 {
  font-size: 1rem;
  padding-top: 1rem;
  cursor: pointer;
  transition: 700ms; }

h4 {
  font-size: 1.6rem;
  font-weight: 600; }

h5 {
  color: #ffff00;
  font-weight: 500;
  padding-left: 12px;
  padding-top: 4px; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  color: #ffff00; }

.check-out-work {
  background-color: transparent;
  border: 4px solid #ffff00;
  padding: 1.2rem 1.6rem 1.2rem 1.6rem;
  width: 186px;
  margin: 0 auto;
  margin-top: 5rem;
  display: block;
  color: #ffff00;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: 300ms ease-in-out;
  -webkit-animation: btn-hover 2600ms infinite;
  -webkit-transition-timing-function: ease; }

.check-out-work:hover {
  background-color: #ffff00;
  transition: 300ms ease-in-out;
  cursor: pointer;
  color: #ff5151; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  overflow: auto;
  overflow-x: hidden;
  background-color: #ff5151; }

.home {
  overflow: hidden; }

.main__home {
  padding-top: 15vh; }

.pie {
  margin: 0 auto;
  width: 12.5%;
  display: block; }

.ibm-logo {
  width: 76px;
  vertical-align: middle;
  padding-left: 6px;
  padding-bottom: 5px; }

.anim {
  background-color: #5baafa;
  border-radius: 10vw;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35vh;
  margin-left: auto;
  margin-right: auto;
  z-index: 5; }

.plz {
  width: 20vw;
  height: 20vw;
  -webkit-animation: expander 700ms linear;
  -webkit-animation-fill-mode: forwards;
  z-index: 5; }

@-webkit-keyframes btn-hover {
  0% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px); }
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); } }

@keyframes btn-hover {
  0% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px); }
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); } }

@-webkit-keyframes expander {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(8.5);
            transform: scale(8.5);
    opacity: 1;
    z-index: 5; } }

@media screen and (max-width: 600px) {
  @-webkit-keyframes expander {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1; }
    100% {
      -webkit-transform: scale(15);
              transform: scale(15);
      opacity: 1;
      z-index: 5; } }
  .anim {
    bottom: 45vh; } }

.home__heading {
  font-size: 1.33rem;
  padding-top: 1rem; }

.home__subheading {
  font-size: .9rem;
  padding-top: .4rem; }

.ibm-logo {
  width: 42px;
  padding-bottom: .2rem; }

.pie {
  width: 110px; }

header {
  font-weight: 500; }

.header__title {
  text-align: center;
  padding-top: .8rem; }

nav {
  position: fixed;
  bottom: 0;
  width: 100%; }

.nav__list span {
  display: none; }

.nav__list-item {
  display: inline-block;
  width: 23%;
  padding: 0.5% 0.5% 8px 0.5%;
  text-align: center;
  font-size: 11px; }

.nav__icon {
  width: 24px;
  padding-bottom: 1px;
  display: block;
  margin: 0 auto; }

.active__home {
  color: #ffff00; }

@media screen and (min-width: 650px) {
  nav {
    float: right;
    bottom: auto;
    position: relative;
    width: auto;
    padding: .8rem; }
  .header__title {
    float: left;
    width: auto;
    padding: .8rem; }
  .nav__list-item {
    font-size: 1rem;
    width: auto;
    padding: 0 .4rem 0 .4rem; }
  .nav__icon {
    display: none; }
  .pie {
    width: 220px; }
  .home__heading {
    font-size: 2rem; }
  .home__subheading {
    font-size: 1.4rem;
    padding-top: .8rem; }
  .ibm-logo {
    width: 58px; }
  .nav__list span {
    display: inline; }
  .home header {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    -webkit-animation: slideDown 540ms ease-out;
            animation: slideDown 540ms ease-out;
    -webkit-animation-delay: 120ms;
            animation-delay: 120ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-40px);
              transform: translateY(-40px); }
    40% {
      -webkit-transform: translateY(2px);
              transform: translateY(2px); }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0); } }
  @keyframes slideDown {
    0% {
      -webkit-transform: translateY(-40px);
              transform: translateY(-40px); }
    40% {
      -webkit-transform: translateY(2px);
              transform: translateY(2px); }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0); } } }

@media screen and (min-width: 1100px) {
  .pie {
    width: 240px; }
  .home__heading {
    font-size: 3rem;
    padding-top: 1.4rem; } }

footer {
  height: 36px;
  position: absolute;
  bottom: 0.8rem;
  right: 0.8rem;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
  -webkit-animation: slideLeft 540ms ease-out;
  -webkit-animation-delay: 320ms;
  -webkit-animation-fill-mode: forwards; }

.github-icon {
  width: 36px;
  height: 36px;
  float: right;
  cursor: pointer;
  transition: background-image 400ms ease-in-out;
  background-image: url(../img/github-icon.svg);
  background-repeat: no-repeat; }

.github-icon:hover {
  background-image: url(../img/github-icon-hover.svg);
  transition: background-image 400ms ease-in-out; }

.mobile-container .github-icon {
  right: 80px; }

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(60px);
            transform: translateX(60px); }
  40% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(60px);
            transform: translateX(60px); }
  40% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@media screen and (max-width: 648px) {
  footer {
    display: none; } }

.blue-bg {
  background: #5baafa; }

.work__container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: translateY(200px);
          transform: translateY(200px); }

.work__container-still {
  -webkit-transform: scale(0.22) translateY(-500px);
          transform: scale(0.22) translateY(-500px); }

.mac-container, .iphone-container, .animation-container {
  -webkit-animation: bubble 900ms;
          animation: bubble 900ms;
  -webkit-animation-timing-function: cubic-bezier(0, 0.645, 0.385, 1.245);
          animation-timing-function: cubic-bezier(0, 0.645, 0.385, 1.245);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: scale(0);
          transform: scale(0); }

.mac-container {
  -webkit-animation-delay: 260ms;
          animation-delay: 260ms; }

.animation-container {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms; }

.work-action-container-fix {
  width: auto;
  margin: 2rem;
  transition: 2800ms;
  transition-delay: 80ms;
  transition-timing-function: ease; }

.mac, .iphone, .animate-container {
  transition: -webkit-transform 300ms;
  transition: transform 300ms; }

.mac:hover {
  -webkit-transform: scale(1.05) translateY(-18px);
          transform: scale(1.05) translateY(-18px);
  transition: -webkit-transform 500ms;
  transition: transform 500ms; }

.iphone:hover {
  -webkit-transform: scale(1.05) translateY(-18px);
          transform: scale(1.05) translateY(-18px);
  transition: -webkit-transform 500ms;
  transition: transform 500ms; }

.animate:hover {
  -webkit-transform: scale(1.05) translateY(-18px);
          transform: scale(1.05) translateY(-18px);
  transition: -webkit-transform 500ms;
  transition: transform 500ms; }

.mac {
  width: 70px; }

.iphone {
  width: 26px;
  margin: 0 auto;
  display: block; }

.mac-resize {
  width: 68px;
  transition: all 2800ms;
  transition-delay: 80ms;
  transition-timing-function: ease; }

.iphone-resize {
  width: 27px;
  transition: all 2800ms;
  transition-delay: 80ms;
  transition-timing-function: ease; }

.current-border {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid yellow; }

.work-container {
  width: 90%;
  max-width: 1900px;
  margin: 0 auto;
  -webkit-transform: translateY(16rem);
          transform: translateY(16rem);
  transition: all 800ms;
  transition-delay: 80ms;
  transition-timing-function: ease; }

.work-container-add {
  width: 20%;
  margin: 0 auto;
  -webkit-transform: translateY(4rem);
          transform: translateY(4rem);
  transition: all 800ms;
  transition-timing-function: ease;
  transition-delay: 80ms; }

.animate-container {
  width: 280px;
  height: 316px;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  display: block; }

.animate-container-resize {
  width: 80px;
  height: 56px; }

.left-bar, .right-bar {
  width: 6px;
  height: 42px;
  background: #ffffff;
  margin: 2px;
  position: absolute; }

.left-bar {
  left: 0;
  top: 180px;
  -webkit-animation: left-bar 3000ms infinite;
          animation: left-bar 3000ms infinite; }

.right-bar {
  right: 0;
  top: 120px;
  -webkit-animation: right-bar 3000ms infinite;
          animation: right-bar 3000ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

.ball {
  width: 6px;
  height: 6px;
  background: #ffffff;
  position: absolute;
  left: 130px;
  top: 120px;
  -webkit-animation: ball 3000ms infinite;
          animation: ball 3000ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

.animate-container {
  width: 80px;
  height: 56px; }

.left-bar {
  left: 0;
  top: 8px;
  width: 3px;
  height: 16px;
  -webkit-animation: left-bar-resize 2200ms infinite;
          animation: left-bar-resize 2200ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

.right-bar {
  right: 0;
  top: 4px;
  width: 3px;
  height: 16px;
  -webkit-animation: right-bar-resize 2200ms infinite;
          animation: right-bar-resize 2200ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

.ball {
  width: 3px;
  height: 3px;
  background: #ffffff;
  position: absolute;
  left: 26px;
  top: 5px;
  -webkit-animation: ball-resize 2200ms infinite;
          animation: ball-resize 2200ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

.left-bar-resize {
  width: 3px;
  height: 16px;
  top: 8px;
  -webkit-animation: left-bar-resize 2200ms infinite;
          animation: left-bar-resize 2200ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

.right-bar-resize {
  width: 3px;
  height: 16px;
  top: 4px;
  -webkit-animation: right-bar-resize 2200ms infinite;
          animation: right-bar-resize 2200ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

.ball-resize {
  width: 3px;
  height: 3px;
  top: 5px;
  left: 26px;
  -webkit-animation: ball-resize 2200ms infinite;
          animation: ball-resize 2200ms infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

@-webkit-keyframes bubble {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes bubble {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes right-bar {
  0% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px); }
  25% {
    -webkit-transform: translateY(96px);
            transform: translateY(96px); }
  50% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px); }
  75% {
    -webkit-transform: translateY(96px);
            transform: translateY(96px); }
  100% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px); } }

@keyframes right-bar {
  0% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px); }
  25% {
    -webkit-transform: translateY(96px);
            transform: translateY(96px); }
  50% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px); }
  75% {
    -webkit-transform: translateY(96px);
            transform: translateY(96px); }
  100% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px); } }

@-webkit-keyframes right-bar-resize {
  0% {
    -webkit-transform: translateY(-14px);
            transform: translateY(-14px); }
  25% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px); }
  50% {
    -webkit-transform: translateY(-14px);
            transform: translateY(-14px); }
  75% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px); }
  100% {
    -webkit-transform: translateY(-14px);
            transform: translateY(-14px); } }

@keyframes right-bar-resize {
  0% {
    -webkit-transform: translateY(-14px);
            transform: translateY(-14px); }
  25% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px); }
  50% {
    -webkit-transform: translateY(-14px);
            transform: translateY(-14px); }
  75% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px); }
  100% {
    -webkit-transform: translateY(-14px);
            transform: translateY(-14px); } }

@-webkit-keyframes left-bar {
  0% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px); }
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(22px);
            transform: translateY(22px); }
  75% {
    -webkit-transform: translateY(-56px);
            transform: translateY(-56px); }
  100% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px); } }

@keyframes left-bar {
  0% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px); }
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(22px);
            transform: translateY(22px); }
  75% {
    -webkit-transform: translateY(-56px);
            transform: translateY(-56px); }
  100% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px); } }

@-webkit-keyframes left-bar-resize {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px); }
  75% {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px); }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); } }

@keyframes left-bar-resize {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px); }
  75% {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px); }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); } }

@-webkit-keyframes ball {
  0% {
    -webkit-transform: translateX(-122px) translateY(0px);
            transform: translateX(-122px) translateY(0px); }
  25% {
    -webkit-transform: translateX(136px) translateY(100px);
            transform: translateX(136px) translateY(100px); }
  50% {
    -webkit-transform: translateX(-122px) translateY(100px);
            transform: translateX(-122px) translateY(100px); }
  75% {
    -webkit-transform: translateX(136px) translateY(100px);
            transform: translateX(136px) translateY(100px); }
  100% {
    -webkit-transform: translateX(-122px) translateY(0px);
            transform: translateX(-122px) translateY(0px); } }

@keyframes ball {
  0% {
    -webkit-transform: translateX(-122px) translateY(0px);
            transform: translateX(-122px) translateY(0px); }
  25% {
    -webkit-transform: translateX(136px) translateY(100px);
            transform: translateX(136px) translateY(100px); }
  50% {
    -webkit-transform: translateX(-122px) translateY(100px);
            transform: translateX(-122px) translateY(100px); }
  75% {
    -webkit-transform: translateX(136px) translateY(100px);
            transform: translateX(136px) translateY(100px); }
  100% {
    -webkit-transform: translateX(-122px) translateY(0px);
            transform: translateX(-122px) translateY(0px); } }

@-webkit-keyframes ball-resize {
  0% {
    -webkit-transform: translateX(-21px) translateY(-10px);
            transform: translateX(-21px) translateY(-10px); }
  25% {
    -webkit-transform: translateX(46px) translateY(44px);
            transform: translateX(46px) translateY(44px); }
  50% {
    -webkit-transform: translateX(-21px) translateY(20px);
            transform: translateX(-21px) translateY(20px); }
  75% {
    -webkit-transform: translateX(46px) translateY(48px);
            transform: translateX(46px) translateY(48px); }
  100% {
    -webkit-transform: translateX(-21px) translateY(-10px);
            transform: translateX(-21px) translateY(-10px); } }

@keyframes ball-resize {
  0% {
    -webkit-transform: translateX(-21px) translateY(-10px);
            transform: translateX(-21px) translateY(-10px); }
  25% {
    -webkit-transform: translateX(46px) translateY(44px);
            transform: translateX(46px) translateY(44px); }
  50% {
    -webkit-transform: translateX(-21px) translateY(20px);
            transform: translateX(-21px) translateY(20px); }
  75% {
    -webkit-transform: translateX(46px) translateY(48px);
            transform: translateX(46px) translateY(48px); }
  100% {
    -webkit-transform: translateX(-21px) translateY(-10px);
            transform: translateX(-21px) translateY(-10px); } }

.mobile__heading {
  padding-top: 1.4rem; }

.animate-heading {
  padding-top: 1.4rem; }

@media screen and (min-width: 700px) {
  .mac {
    width: 100px; }
  .iphone {
    width: 40px; }
  .animate-heading {
    padding-top: 3rem; } }

@media screen and (min-width: 900px) {
  .mac {
    width: 160px; }
  .iphone {
    width: 68px; }
  .animate-container {
    margin-top: 3rem; } }

@media screen and (min-width: 1040px) {
  .mac {
    width: 180px; }
  .iphone {
    width: 78px; }
  .animate-container {
    margin-top: 5.1rem; } }

@media screen and (min-width: 1300px) {
  .mac {
    width: 100%; }
  .iphone {
    width: 100%; }
  .left-bar, .right-bar {
    width: 6px;
    height: 42px;
    top: 40px;
    background: #ffffff;
    margin: 2px;
    position: absolute; }
  .ball {
    width: 6px;
    height: 6px;
    background: #ffffff;
    position: absolute;
    left: 130px;
    top: 120px;
    -webkit-animation: ball 3000ms infinite;
            animation: ball 3000ms infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; }
  .animate-container {
    width: 280px;
    height: 166px;
    margin-top: 3rem; }
  .web-header {
    padding-top: 2rem; }
  .animation-container {
    padding-top: 0; }
  .left-bar, .ball, .right-bar {
    top: 0px; }
  .mobile__heading {
    padding-top: 2.15rem; }
  .animate-heading {
    padding-top: 6.5rem; }
  .left-bar {
    left: 0;
    top: 40px;
    -webkit-animation: left-bar 3000ms infinite;
            animation: left-bar 3000ms infinite; }
  .right-bar {
    right: 0;
    top: 0px;
    -webkit-animation: right-bar 3000ms infinite;
            animation: right-bar 3000ms infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; } }

.blue-bg::-webkit-scrollbar {
  display: none; }

.web-work h3 {
  display: none; }

.web-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 25vh; }

.monitor__mac {
  width: 275px; }

.non-animate {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: none;
          animation: none; }

.animation__transform {
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }

.piece__still {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: scale(1);
          transform: scale(1); }

.work__container-animate {
  -webkit-animation: bye 400ms ease-in-out;
          animation: bye 400ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.web__piece-bubble {
  -webkit-animation: bubble 600ms;
          animation: bubble 600ms;
  -webkit-animation-timing-function: cubic-bezier(0, 0.645, 0.385, 1.115);
          animation-timing-function: cubic-bezier(0, 0.645, 0.385, 1.115);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-transform: scale(0);
          transform: scale(0); }

@-webkit-keyframes bye {
  0% {
    -webkit-transform: scale(1) translateY(200px);
            transform: scale(1) translateY(200px); }
  100% {
    -webkit-transform: scale(0.22) translateY(-500px);
            transform: scale(0.22) translateY(-500px); } }

@keyframes bye {
  0% {
    -webkit-transform: scale(1) translateY(200px);
            transform: scale(1) translateY(200px); }
  100% {
    -webkit-transform: scale(0.22) translateY(-500px);
            transform: scale(0.22) translateY(-500px); } }

.monitor__container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px); }

@-webkit-keyframes monitor-move {
  0% {
    -webkit-transform: translateY(1400px);
            transform: translateY(1400px); }
  90% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px); }
  100% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px); } }

@keyframes monitor-move {
  0% {
    -webkit-transform: translateY(1400px);
            transform: translateY(1400px); }
  90% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px); }
  100% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px); } }

.web__monitor {
  width: 300px; }

.web__piece h2 {
  font-size: 1.2rem; }

.web-project__animate {
  -webkit-animation: anti-bubble 300ms linear;
          animation: anti-bubble 300ms linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.web__project-bluemix-select {
  -webkit-animation: bluemix-select 300ms linear;
          animation: bluemix-select 300ms linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes anti-bubble {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@keyframes anti-bubble {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@-webkit-keyframes bluemix-select {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.33) translateY(51px);
            transform: scale(1.33) translateY(51px); } }

@keyframes bluemix-select {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.33) translateY(51px);
            transform: scale(1.33) translateY(51px); } }

#bus-app {
  padding-top: 0; }

.phone-prototype {
  -webkit-transform: translateY(4000px);
          transform: translateY(4000px);
  -webkit-animation: 500ms mobile-slide;
          animation: 500ms mobile-slide;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 120ms;
          animation-delay: 120ms; }

@-webkit-keyframes mobile-slide {
  0% {
    -webkit-transform: translateY(4000px);
            transform: translateY(4000px); }
  100% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px); } }

@keyframes mobile-slide {
  0% {
    -webkit-transform: translateY(4000px);
            transform: translateY(4000px); }
  100% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px); } }

.lorem {
  width: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 2rem;
  line-height: 1.4; }

.phone-background {
  background-image: url(../img/phone-bg-3.png);
  width: 336px;
  height: 717px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0%;
  right: 0;
  background-position: center bottom;
  z-index: 15;
  cursor: url(../img/cursor.png) 39 39, auto; }

#phone-screen {
  width: 292px;
  height: 507px;
  background-color: #fff;
  position: absolute;
  top: 113px;
  left: 23px;
  overflow: hidden; }

/* Phone Stylings */
#phone-head {
  text-align: center;
  font-weight: 500;
  width: 336px;
  margin: 0 auto; }

/* Phone Stylings */
#bus-header {
  background-color: #34b262;
  width: 100%;
  height: 48px;
  padding: 0;
  z-index: 6;
  box-shadow: 0px 3px 5px -3px black; }

.bus-subheader {
  background-color: #fff;
  width: 90%;
  height: 32px;
  z-index: 1;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 10px;
  color: black;
  font-size: 12px;
  border: 1px solid #cdcdcd;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
  -webkit-animation: subheader-move-down 400ms ease-in-out;
          animation: subheader-move-down 400ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

#my-location {
  width: 75%;
  margin: 0 auto;
  height: 34px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  color: #4d4d4d; }
  #my-location p {
    padding-top: 10px; }

#destination {
  margin: 0 auto;
  height: 34px; }
  #destination p {
    padding-top: 10px;
    padding-left: 16px;
    color: #bbb;
    font-size: 13px; }

#map {
  width: 100%;
  height: 390px;
  z-index: 5;
  background-image: url(../img/map.jpg);
  background-size: cover; }

.routes {
  width: 100%;
  height: 365px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: -216px;
  overflow: hidden;
  transition: all 400ms;
  transition-timing-function: ease-in-out; }

.routes-expand {
  transition: all 400ms;
  transition-timing-function: ease-in-out;
  bottom: 66px; }

#near-you {
  height: 45px;
  width: 100%;
  background-color: #0243df;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #999999; }
  #near-you p {
    padding-left: 54px;
    padding-top: 14px; }

.route-button {
  width: 48px;
  height: 48px;
  background-color: #34b262;
  border-radius: 24px;
  position: absolute;
  bottom: 126px;
  right: 18px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  z-index: 10;
  transition: all 400ms;
  transition-timing-function: ease-in-out; }

.routes-button-raise {
  width: 48px;
  height: 48px;
  background-color: #34b262;
  border-radius: 24px;
  position: absolute;
  bottom: 412px;
  right: 18px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  z-index: 10;
  transition: all 400ms;
  transition-timing-function: ease-in-out; }

.main-nav {
  width: 100%;
  height: 54px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  z-index: 12;
  border-top: 2px solid #34b262;
  color: black; }
  .main-nav ul {
    width: 100%; }
    .main-nav ul li {
      width: 23.9%;
      display: inline-block; }

.nav-p {
  color: #868686;
  font-size: 0.8rem;
  font-weight: 500;
  display: block;
  text-align: center; }

.mcts-icon {
  width: 24px;
  display: block;
  margin: 0 auto; }

.icon-large {
  width: 34px; }

.icon-small {
  width: 22px;
  padding-bottom: 2px; }

.mcts-header {
  background: #34b262;
  height: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.mcts-heading {
  font-size: 1.2rem; }

.header-icon {
  width: 28px;
  padding: 0 8px 0 8px; }

.icon-gear {
  width: 24px; }

.icon-walk {
  width: 16px; }

.mcts-favorites-row {
  height: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.route-number-favorites {
  width: 25%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.route-number-lg {
  color: #0243df;
  font-weight: 600;
  font-size: 2.4rem;
  text-align: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.route-name-favorites {
  width: 75%;
  height: 70%; }

.route-street {
  font-size: 1rem;
  font-weight: 800;
  color: #1c1c1c;
  text-align: left;
  display: inline-block;
  margin: 0;
  padding: 12px 0 0 0; }

.route-street-eta {
  color: #999999;
  font-size: 0.6rem;
  font-weight: 600;
  padding-left: 6px; }

.route-eta {
  height: 30%; }

.street-start {
  color: #1c1c1c;
  font-weight: 700;
  font-size: .8rem; }

.stop-name-favorites {
  color: #666666;
  font-weight: 500;
  font-size: .7rem; }

.mcts-routes-screen {
  color: black; }

.mcts-map-screen {
  color: black; }

/* Route Row */
.route-row {
  height: 42px;
  width: 100%;
  background-color: white;
  color: #4d4d4d;
  font-size: 12px;
  position: relative; }

.route-row:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 80.5%;
  border-bottom: 1px solid #e0dbdb; }

.route-number {
  font-size: 18px;
  text-align: center;
  color: #34b262;
  float: left;
  margin-left: 18px;
  margin-top: 9px; }
  .route-number p {
    padding-top: 2px;
    font-weight: 900; }

.mcts-favorites-screen .route-row {
  height: 64px;
  background: blue;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 6px;
  width: 95%; }

.mcts-favorites-screen .route-row:before {
  border-bottom: none; }

.mcts-favorites-screen .route-number {
  color: white;
  font-size: 22px;
  font-weight: 700;
  padding-top: 10px; }

.mcts-favorites-screen .route-stop {
  color: white;
  font-size: 12px;
  width: 60%; }

.arrival-place-icon {
  width: 28px;
  float: right;
  bottom: 16px;
  position: relative; }

.route-name {
  margin-top: 8px;
  font-weight: 900;
  color: #333333;
  position: relative; }

.route-name, .route-stop {
  padding-left: 18px;
  float: left;
  width: 40%;
  position: relative; }

.fav-name {
  font-size: 14px;
  font-weight: 700;
  width: 60%;
  color: white;
  padding-top: 8px;
  position: relative; }

.route-time {
  float: right;
  width: auto;
  font-size: 10px;
  color: #4d4d4d;
  padding-right: 20px;
  padding-top: 4px;
  position: relative; }

.route-stop {
  font-size: 10px;
  padding-top: 4px;
  color: #333333;
  position: relative; }

.route-arrival {
  height: 136px;
  clear: both;
  width: 95%;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-top: 1px solid #0243df;
  margin-top: -4px;
  position: relative;
  display: none;
  transition: all 300ms; }

.route-height {
  transition: all 300ms; }

.arrival-stop, .arrival-time {
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  padding-top: 6px;
  margin-left: 60px; }

.arrival-stop:first-of-type {
  margin-top: 6px; }

.arrival-time {
  color: #999999;
  font-size: 12px;
  padding-top: 2px;
  margin-bottom: 4px; }

#nav-icon-one {
  width: 12px;
  -webkit-transform: rotate(33deg);
          transform: rotate(33deg);
  position: absolute;
  left: 20px;
  top: 10px; }

#swapvert {
  width: 24px;
  position: absolute;
  right: 8px;
  top: 20px; }

.route-timer {
  width: 12px;
  position: absolute;
  right: 20px;
  bottom: 14px; }

.route-arrow {
  width: 9px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: 49px;
  top: 9px; }

#find-location {
  width: 24px;
  margin: 0 auto;
  display: block;
  padding-top: 12px; }

.subheader-move {
  -webkit-animation: subheader-move 400ms ease-in-out;
          animation: subheader-move 400ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes subheader-move {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  20% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px); }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); } }

@keyframes subheader-move {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  20% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px); }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); } }

@-webkit-keyframes subheader-move-down {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  80% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes subheader-move-down {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  80% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@media screen and (max-width: 1500px) {
  .phone-background {
    margin: 0 auto;
    display: block; }
  #phone-head {
    font-weight: 500;
    text-align: center; } }

@media screen and (max-width: 400px) {
  .phone-background {
    width: 286px;
    height: 667px; }
  #phone-screen {
    width: 248px;
    height: 432px;
    top: 153px;
    left: 20px; }
  .route-number {
    margin-left: 15px; }
  .route-name, .route-stop {
    padding-left: 16px;
    width: 40%; }
  .route-name {
    margin-top: 8px;
    font-size: 10px; }
  .route-stop {
    font-size: 9px;
    padding-top: 4px; }
  .route-time {
    font-size: 9px;
    padding-right: 14px;
    padding-top: 4px; }
  .mcts-icon {
    width: 22px; }
  .icon-large {
    width: 34px; }
  .nav-p {
    font-size: 0.6rem; }
  #nav-icon-one {
    left: 10px;
    top: 9px; }
  #swapvert {
    right: 2px;
    top: 21px; }
  h5 {
    font-size: 0.9rem; } }

/* App Details */
.app-info {
  float: right;
  margin-top: 30px;
  width: 700px;
  position: relative;
  -webkit-transform: translateY(-130px);
          transform: translateY(-130px); }

.app-specs {
  padding-left: 12px;
  padding-top: 2px; }

.app-specs li {
  padding: 2px;
  font-weight: 500; }

.app-specs li span {
  color: #ffff00; }

.app-info-p {
  width: 66%;
  float: left;
  padding-right: 7rem;
  padding-top: 2rem;
  line-height: 1.5rem;
  font-weight: 500; }

.mobile-container article:nth-child(2) .app-info {
  float: left;
  margin-left: 80px; }

.mobile-container article:nth-child(2) #phone-screen {
  width: 292px;
  height: 507px;
  background-color: #fff;
  background-image: url(../img/summerfest-home-2.jpg);
  background-size: 98%;
  background-repeat: no-repeat;
  position: absolute;
  top: 113px;
  left: 23px;
  overflow: hidden; }

.mobile-container article:nth-child(even) {
  margin-top: 16rem; }

.mobile-pad {
  margin-top: 10rem; }

.mobile-arrow {
  width: 32px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  top: 320px;
  left: -40px; }

.mobile-arrow:nth-child(2) {
  right: -40px;
  left: auto;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.back-to-top {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 8rem;
  margin-bottom: 2rem;
  transition: all 300ms; }

.about-me main {
  color: #fff; }

.about-me__header {
  height: 360px; }
  .about-me__header .about-me__nav {
    display: block;
    padding-top: 70px;
    text-align: center; }
  .about-me__header .about-me__nav-item {
    display: inline;
    font-size: 2.2rem;
    font-weight: 600;
    padding: 0 1.2rem 0 1.2rem;
    opacity: 0.5; }
  .about-me__header .about-me__nav-item-active {
    opacity: 1; }

.article__content {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6; }

.how__nav {
  display: block;
  width: 1080px;
  margin: 0 auto;
  padding-top: 60px; }

.how__nav-item {
  display: inline;
  text-align: center;
  float: left;
  padding: 0 3.5rem 0 3.5rem;
  font-weight: 600;
  font-size: 1.4rem;
  opacity: 0.5; }

.how__nav-item-active {
  opacity: 1; }

.how__nav-item-icon {
  display: block;
  width: 90px;
  padding-bottom: .8rem; }

.web__items .work__container-animate {
  -webkit-transform: scale(0.22) translateY(-500px);
          transform: scale(0.22) translateY(-500px);
  -webkit-animation: none;
          animation: none; }

.web__items h3 {
  display: none; }

.web__item-container {
  -webkit-transform: translateY(-140px);
          transform: translateY(-140px);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.monitor__web-item {
  width: 399px;
  cursor: pointer; }

.web__item-header {
  padding-bottom: .4rem; }

.web__item-expand {
  color: #ffff00;
  padding-bottom: .6rem; }

.web__item-monitor {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.arrow {
  width: 32px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding: .6rem;
  cursor: pointer; }

.arrow:nth-of-type(3) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.web__item-subheading {
  padding-bottom: 1rem; }

.web__item-content {
  padding-top: 1rem;
  max-width: 800px;
  line-height: 1.6; }

.web__item-header, .web__item-expand, .arrow {
  opacity: 0;
  -webkit-animation: fade-in 500ms linear;
          animation: fade-in 500ms linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.web__item-content {
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
  -webkit-animation: slide-up 600ms linear;
          animation: slide-up 600ms linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

.blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  transition: -webkit-filter 100ms, filter 100ms;
  pointer-events: none; }

.blur-extra {
  -webkit-filter: blur(25px);
          filter: blur(25px);
  transition: -webkit-filter 100ms, filter 100ms;
  pointer-events: none; }

.web__project-view {
  position: absolute;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 280px;
  opacity: 1;
  -webkit-animation: 500ms view-piece;
          animation: 500ms view-piece;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0, 0.645, 0.385, 1.245);
          animation-timing-function: cubic-bezier(0, 0.645, 0.385, 1.245); }

@-webkit-keyframes view-piece {
  0% {
    width: 360px;
    position: fixed; }
  100% {
    width: 77vw;
    position: fixed;
    top: 12vh;
    box-shadow: 0px 0px 53px 9px rgba(0, 0, 0, 0.75); } }

@keyframes view-piece {
  0% {
    width: 360px;
    position: fixed; }
  100% {
    width: 77vw;
    position: fixed;
    top: 12vh;
    box-shadow: 0px 0px 53px 9px rgba(0, 0, 0, 0.75); } }

.web__view-shrink {
  -webkit-animation: 400ms view-piece-shrink;
          animation: 400ms view-piece-shrink;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0, 0.645, 0.385, 1.245);
          animation-timing-function: cubic-bezier(0, 0.645, 0.385, 1.245); }

@-webkit-keyframes view-piece-shrink {
  0% {
    visibility: visible;
    width: 77vw;
    position: fixed;
    top: 8vh;
    box-shadow: 0px 0px 53px 9px rgba(0, 0, 0, 0.75); }
  99% {
    visibility: visible;
    width: 360px;
    box-shadow: none; }
  100% {
    visibility: hidden; } }

@keyframes view-piece-shrink {
  0% {
    visibility: visible;
    width: 77vw;
    position: fixed;
    top: 8vh;
    box-shadow: 0px 0px 53px 9px rgba(0, 0, 0, 0.75); }
  99% {
    visibility: visible;
    width: 360px;
    box-shadow: none; }
  100% {
    visibility: hidden; } }

.view__button {
  background-image: url("../img/arrow.svg");
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  width: 72px;
  height: 80px;
  position: fixed;
  top: 45vh;
  left: 3vw;
  -webkit-transform: translateX(-500px) rotate(-90deg);
          transform: translateX(-500px) rotate(-90deg);
  cursor: pointer;
  outline: none;
  -webkit-animation: 340ms btn-slide;
          animation: 340ms btn-slide;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0, 0.645, 0.385, 1.045);
          animation-timing-function: cubic-bezier(0, 0.645, 0.385, 1.045);
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms; }

.button__next {
  background-image: url("../img/arrow.svg");
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  width: 72px;
  height: 80px;
  position: fixed;
  top: 45vh;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
  outline: none;
  left: auto;
  right: 3vw;
  -webkit-transform: translateX(500px) rotate(90deg);
          transform: translateX(500px) rotate(90deg);
  -webkit-animation: 340ms btn-slide-next;
          animation: 340ms btn-slide-next;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0, 0.645, 0.385, 1.045);
          animation-timing-function: cubic-bezier(0, 0.645, 0.385, 1.045);
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms; }

@-webkit-keyframes btn-slide {
  0% {
    -webkit-transform: translateX(-500px) rotate(-90deg);
            transform: translateX(-500px) rotate(-90deg); }
  100% {
    -webkit-transform: translateX(0px) rotate(-90deg);
            transform: translateX(0px) rotate(-90deg); } }

@keyframes btn-slide {
  0% {
    -webkit-transform: translateX(-500px) rotate(-90deg);
            transform: translateX(-500px) rotate(-90deg); }
  100% {
    -webkit-transform: translateX(0px) rotate(-90deg);
            transform: translateX(0px) rotate(-90deg); } }

@-webkit-keyframes btn-slide-next {
  0% {
    -webkit-transform: translateX(500px) rotate(90deg);
            transform: translateX(500px) rotate(90deg); }
  100% {
    -webkit-transform: translateX(0px) rotate(90deg);
            transform: translateX(0px) rotate(90deg); } }

@keyframes btn-slide-next {
  0% {
    -webkit-transform: translateX(500px) rotate(90deg);
            transform: translateX(500px) rotate(90deg); }
  100% {
    -webkit-transform: translateX(0px) rotate(90deg);
            transform: translateX(0px) rotate(90deg); } }

.close__icon {
  background-image: url("../img/icon-close.svg");
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 3vh;
  right: 3vw;
  outline: none;
  cursor: pointer;
  -webkit-animation: 240ms close-appear;
          animation: 240ms close-appear;
  -webkit-animation-timing-function: cubic-bezier(0, 0.645, 0.385, 1.045);
          animation-timing-function: cubic-bezier(0, 0.645, 0.385, 1.045);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-transform: scale(0);
          transform: scale(0); }

@-webkit-keyframes close-appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes close-appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes btn-slide-next {
  0% {
    -webkit-transform: translateX(500px) rotate(90deg);
            transform: translateX(500px) rotate(90deg); }
  100% {
    -webkit-transform: translateX(0px) rotate(90deg);
            transform: translateX(0px) rotate(90deg); } }

.clearfix {
  clear: both; }
