html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: white; }

.check-out-work {
  -webkit-animation: btn-hover 2600ms infinite;
  -webkit-transition-timing-function: ease; }

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  overflow: hidden;
  background-color: #ff5151; }

header {
  font-weight: 500;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999999; }
  header p {
    float: left;
    padding: 1rem;
    text-align: left; }
    header p span {
      font-weight: 400; }

nav {
  right: 0;
  top: 0;
  float: right;
  padding: 1rem;
  width: auto; }
  nav ul li {
    display: inline; }

.nav-icon {
  display: none; }

@media screen and (max-width: 648px) {
  .nav-list span {
    display: none; }
  .nav-icon {
    width: 24px;
    padding-bottom: 1px;
    display: block;
    margin: 0 auto; }
  header {
    position: fixed;
    bottom: 0;
    top: auto;
    width: 100%; }
    header nav {
      padding: 0px 0;
      float: none;
      margin: 0 auto;
      right: auto;
      top: auto;
      width: auto;
      display: block; }
    header .nav-list li {
      display: inline-block;
      width: 23%;
      padding: 0.5%;
      padding-bottom: 4px;
      text-align: center;
      font-size: 11px; }
    header p {
      position: fixed;
      top: 0;
      float: none;
      text-align: center;
      width: 100%;
      padding: 0.6rem 0; } }

@media screen and (max-width: 340px) {
  header .nav-list li {
    width: 22%; } }

#animate {
  width: 800px;
  background: #999;
  margin: 0 auto;
  -webkit-transform: translateX(1500px);
          transform: translateX(1500px); }

#animate-2 {
  width: 800px;
  background: #999;
  margin: 0 auto;
  -webkit-transform: translateX(1500px);
          transform: translateX(1500px); }

.animate {
  -webkit-animation: coming-in 440ms linear;
          animation: coming-in 440ms linear;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.some-animation {
  -webkit-animation: heading-out 440ms linear;
          animation: heading-out 440ms linear; }

@-webkit-keyframes coming-in {
  0% {
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1; } }

@keyframes coming-in {
  0% {
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1; } }

@-webkit-keyframes heading-out {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
    opacity: 0; } }

@keyframes heading-out {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
    opacity: 0; } }
