<div class="about-me__header">
  		<ul class="about-me__nav">
				<li class="about-me__nav-item about-me__nav-item-active"><a href="#">How</a></li>
				<li class="about-me__nav-item"><a href="#">Who</a></li>
				<li class="about-me__nav-item"><a href="#">Why</a></li>
				<li class="about-me__nav-item"><a href="#">Where</a></li>
			</ul>
			<ul class="how__nav">
				<li class="how__nav-item how__nav-item-active" id="ideate"><a href="#"><img src="img/icon-lightbulb.svg" class="how__nav-item-icon" alt="">ideate</a></li>
				<li class="how__nav-item" id="research"><a href="#"><img src="img/icon-magnifier.svg" class="how__nav-item-icon" alt="">research</a></li>
				<li class="how__nav-item" id="sketch"><a href="#"><img src="img/icon-pencil.svg" class="how__nav-item-icon" alt="">sketch</a></li>
				<li class="how__nav-item" id="design"><a href="#"><img src="img/icon-brush.svg" class="how__nav-item-icon" alt="">design</a></li>
				<li class="how__nav-item" id="develop"><a href="#"><img src="img/icon-gears.svg" class="how__nav-item-icon" alt="">develop</a></li>
			</ul>
  	</div>