<main>
	<h1>IBM Design</h1>
	<p class="article__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus voluptates qui aliquid voluptatum quam aut ducimus debitis cupiditate culpa, aspernatur laborum! Unde quod omnis exercitationem vitae repellat. Vitae dolorem, delectus.</p>
	<h2>some cool thing</h2>
	<p class="article__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates maxime, voluptatibus dolore! Quisquam aspernatur expedita ut delectus a quae beatae inventore facere porro quam, aliquam hic dicta et ratione accusamus.</p>
</main>