<header>
  <p class="header__title">Ross Fenrick | <span>Front End Developer</span></p>
	<nav>
		<ul class="nav__list">
			<li class=" nav__list-item icon-home">
        <a class="active__home" href="/"><img src="img/icon-home.svg" alt="" class="nav__icon icon__home">
        Home</a>
      </li>
			<span>|</span>
      <li class=" nav__list-item">
        <a href="/about-me"><img src="img/icon-person.svg" alt="" class="nav__icon">
        About me</a>
      </li>
      <span>|</span>
      <li class=" nav__list-item">
        <a href="/my-work"><img src="img/icon-work.svg" alt="" class="nav__icon">
        My work</a>
      </li>
      <span>|</span>
      <li class=" nav__list-item">
        <a href="#"><img src="img/icon-email.svg" alt="" class="nav__icon">
        Get in touch</a>
      </li>
    </ul>
  </nav>
</header>