<header>
  <p>Ross Fenrick | <span>Front End Developer</span></p>
	<nav>
		<ul class="nav-list">
			<li class="icon-home">
        <img src="img/icon-home.svg" alt="" class="nav-icon icon-home">
        <a href="/">Home</a>
      </li>
			<span>|</span>
      <li>
        <img src="img/icon-person.svg" alt="" class="nav-icon">
        <a href="about.html">About</a>
      </li>
      <span>|</span>
      <li>
        <img src="img/icon-work.svg" alt="" class="nav-icon">
        <a href="#">My work</a>
      </li>
      <span>|</span>
      <li>
        <img src="img/icon-email.svg" alt="" class="nav-icon">
        <a href="#">Get in touch</a>
      </li>
    </ul>
  </nav>
</header>