<header>
	<a href="index.html"><p>Ross Fenrick | <span>Front End Developer</span></p></a>
	<nav>
		<ul class="nav-list">
			<a href="index.html">
				<li class="icon-home"><img src="img/icon-home.svg" alt="" class="nav-icon icon-home">Home</li>
			</a>
			<span>|</span>
      <a href="about.html">
        <li><img src="img/icon-person.svg" alt="" class="nav-icon">About</li>
      </a>
      <span>|</span>
      <a class="work-link" href="#">
      	<li><img src="img/icon-work.svg" alt="" class="nav-icon">My work</li>
      </a> 
      <span>|</span>
      <a href="#">
      	<li><img src="img/icon-email.svg" alt="" class="nav-icon">Get in touch</li>
      </a>
    </ul>
  </nav>
</header>