<main class="main-home">
  <img class="pie" src="img/pie-icon.svg"></img>
  <h1>My passion is creating from scratch</h1>
  <h2>I'm currently <span id="word__change">developing</span> at <img class="ibm-logo" src="img/ibm-logo.svg" alt=""></h2>
  <a href="/my-work"class="check-out-work">
		Check out my work
  </a>
</main>
<div class="anim"></div> <!-- div for animation transition -->