<section class="work-container">
  <article class="mac-container">
    <a href="/web"><img src="img/mac.png" alt="" class="mac mac-web"></a>
    <h3 class="web-header">Web</h3>
  </article>

  <article class="iphone-container">
    <img src="img/iphone.png" alt="" class="iphone">
    <h3>Mobile</h3>
  </article>

  <article class="animation-container">
    <div class="animate-container">
      <div class="left-bar"></div>
      <div class="ball"></div>
      <div class="right-bar"></div>
    </div>
    <h3>Animations</h3>
  </article>

</section> <!-- end of work-container -->