<div class="work__container work__container-still">
  <div class="mac-container piece__still">
    <a href="/web"><img src="img/mac.png" alt="" class="mac mac__web"></a>
    <h3 class="web-header">Web</h3>
  </div>

  <div class="iphone-container non-animate">
   <a href="/mobile"><img src="img/iphone.png" alt="" class="iphone"></a>
    <h3 class="mobile-header">Mobile</h3>
  </div>

  <div class="animation-container non-animate animation__transform">
    <a href="/animations">
      <div class="animate-container">
        <div class="left-bar"></div>
        <div class="ball"></div>
        <div class="right-bar"></div>
      </div>
      <h3 class="animate-heading">Animations</h3>
    </a>
  </div>
</div>
