<div class="clearfix"></div>
<section class="work__container">
  <div class="mac-container">
    <a href="/web"><img src="img/mac.png" alt="" class="mac"></a>
    <h3 class="web-header">Web</h3>
  </div>

  <div class="iphone-container">
   <a href="/mobile"><img src="img/iphone.png" alt="" class="iphone"></a>
    <h3>Mobile</h3>
  </div>

  <div class="animation-container">
    <div class="animate-container">
      <div class="left-bar"></div>
      <div class="ball"></div>
      <div class="right-bar"></div>
    </div>
    <h3 class="animate-heading">Animations</h3>
  </div> 
</section>