<!DOCTYPE html>
<html>
  <head><% include ../global/head.ejs %></head>
  <body class="work">
  	<% include ../global/header.ejs %>
        <div class="work__container">
          <div class="mac-container work__piece">
            <a class="work__piece-link" href="/my-work/web"><img src="img/mac.png" alt="" class="mac">
            <span class="work__piece-span">Web</span></a>
          </div>

          <div class="iphone-container work__piece">
           <a class="work__piece-link" href="/my-work/mobile"><img src="img/iphone.png" alt="" class="iphone">
           <span class="work__piece-span">Mobile Design</span></a>
          </div>

          <div class="animation-container work__piece">
            <a class="work__piece-link" href="/my-work/animations"><div class="animate-container">
              <div class="left-bar"></div>
              <div class="ball"></div>
              <div class="right-bar"></div>
            </div><span class="work__piece-span">Animations</span></a>
        </div>
      </div>
    <% include ../global/scripts.ejs %>
  </body>
</html>
