.about-me {
	// background: #9855D4;
	// background: #FF512F;  /* fallback for old browsers */
	// background: #FF512F;  /* fallback for old browsers */
	// background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
	// background: linear-gradient(to bottom right, #DD2476, #FF512F) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background: #159957;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom right, #155799, #159957) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


// background: linear-gradient(to bottom right, #8e44ad, #c0392b) fixed;
	// animation: aboutbg 1200ms ease;
	// background: linear-gradient(to bottom right, #DD2476, #FF512F) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0));
	// animation-fill-mode: forwards;
	// -webkit-backface-visibility: hidden;
	// background-size: 200% 200%;

	// &:before {
	//     border-radius: inherit;
	//     background: linear-gradient(to bottom right, #8e44ad, #c0392b) fixed;
	//     content: '';
	//     display: block;
	//     height: 100%;
	//     position: absolute;
	//     top: 0; left: 0;
	//     opacity: 1;
	//     width: 100%;
	//     z-index: 100;
	// 		animation: aboutbg 1500ms ease;
	// 		animation-fill-mode: forwards;
	//   }

	@keyframes fillin {
		0% {opacity: 0; }
		100% {opacity: 1; }
	}

		@keyframes aboutbg {
			0% { opacity: 1; }
			100% { opacity: 0; }
		}

	.icon__about path {
		fill: $yellow;
	}

	.nav__list {
		// background: #9855D4;
		// background: #FF512F;  /* fallback for old browsers */
		background: linear-gradient(to bottom right, #155799, #159957) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}
}


.about-me::-webkit-scrollbar {
	display: none;
}

.about-me-container {
	padding-top: 60px;
	margin: 0 auto;
	display: block;
	padding-bottom: 80px;
	max-width: 90%;
	animation: fillin 300ms ease-in;
	animation-fill-mode: forwards;

	h1 {
		font-size: 1.9rem;
		text-align: left;
		padding: 0 0 .8rem 0;
	}

	h2 {
		font-size: 1.7rem;
		font-weight: 700;
		text-align: left;
		padding: 0 0 .2rem 0;
	}

	h3 {
		font-size: 1.2rem;
		text-align: left;
		padding: 0 0 .2rem 0;
	}

	h4 {
		font-size: .8rem;
		padding: 0 0 1rem 0;
	}

	h5 {
		color: $white;
		font-weight: 700;
		font-size: 1.3rem;
		text-align: left;
		padding: 1rem 0 0.4rem 0;
	}

	p {
		line-height: 1.4;
	}

	a {
		text-decoration: underline;
	}

	a:hover {
		color: white;
	}

	.skills {
		display: block;
		margin: 0 auto;
		margin-top: 2rem;
	}

	.experience, .education {
		margin-top: 2rem;
	}

	ul {
		width: 100%;
		display: inline-block;
		vertical-align: top;
		padding-left: 32px;
		line-height: 1.4;
	}
}

@media screen and (min-width: 500px ) {
	.about-me-container {
		padding-top: 100px;
		padding-bottom: 100px;
		max-width: 600px;
	}

	.where-section, .how-section {
		padding-top: 100px;
	}
}

@media screen and (min-width: 640px) {
	.about-me-container ul {
		width: auto;
	}
}
