.animations {
	background: $blue;

	.web-header, .mobile-header, .animate-heading {
		display: none;
	}
}

.animations-container {
	padding-top: 140px;

	.web-header {
		display: none;
	}

	.animation-gif {
		width: 300px;
	}

	.animation-desktop {
		width: 240px;
	}

}
