footer {
	width: 100%;
	height: 36px;
	position: absolute;
	bottom: 0.8rem;
	right: 0.8rem;
}


.github-icon {
	width: 36px;
	height: 36px;
	float: right;
	cursor: pointer;
	transition: background-image 200ms ease-in-out;
	background-image: url(../img/github-icon.svg);
	background-repeat: no-repeat;
}

.github-icon:hover {
  background-image: url(../img/github-icon-hover.svg);
  transition: background-image 200ms ease-in-out;
}

.mobile-container {
	.github-icon {
		right: 80px;
	}
}