footer {
	height: 36px;
	position: absolute;
	bottom: 0.8rem;
	right: 0.8rem;
	transform: translateX(60px);
	-webkit-animation: slideLeft 540ms ease-out;
	-webkit-animation-delay: 320ms;
	-webkit-animation-fill-mode: forwards;
}


.github-icon {
	width: 36px;
	height: 36px;
	float: right;
	cursor: pointer;
	transition: background-image 400ms ease-in-out;
	background-image: url(../img/github-icon.svg);
	background-repeat: no-repeat;
}

.github-icon:hover {
  background-image: url(../img/github-icon-hover.svg);
  transition: background-image 400ms ease-in-out;
}

.mobile-container {
	.github-icon {
		right: 80px;
	}
}

@keyframes slideLeft {
	0% { transform: translateX(60px); }
	40% { transform: translateX(-2px); }
	100% { transform: translateX(0); }
}