.get-in-touch {
	background: #ee0979;
	background: -webkit-linear-gradient(to bottom right, #ff6a00, #ee0979);
	background: linear-gradient(to bottom right, #ff6a00, #ee0979) fixed;
	fill: $yellow;

.get-in-touch-container {
	padding-top: 80px;
	animation: fillin 300ms ease-in;
	animation-fill-mode: forwards;
}

.get-in-touch-heading {
	font-size: 2rem;
}

.get-in-touch-icons-container {
	max-width: 640px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	padding-top: 38px;
}

.get-in-touch-icon {
	width: 42px;
}

.nav__icon-get-in-touch path {
	fill: $yellow;
}

@media screen and (min-width: 640px) {
	.get-in-touch-container {
		padding-top: 160px;
	}

	.get-in-touch-icon {
		width: 72px;
	}
}
}
