.get-in-touch {
	background: #00B4A0;
}

.get-in-touch-container {
	padding-top: 160px;
}

.get-in-touch-heading {
	font-size: 2rem;
}

.get-in-touch-icons-container {
	max-width: 440px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	padding-top: 38px;
}

.get-in-touch-icon {
	width: 42px;
}