header {
	font-weight: 500;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 9999999;
	
		p {
		float: left;
		padding: 1rem;
		text-align: left;

			span {
			font-weight: 400;
			}
		}
}

.home {
	header {
		transform: translateY(-40px);
		-webkit-animation: slideDown 540ms ease-out;
		-webkit-animation-delay: 120ms;
		-webkit-animation-fill-mode: forwards;
	}
}

nav {
	right: 0;
	top: 0;
	float: right;
	padding: 1rem;
	width: auto;

		ul li {
			display: inline;
		}
}

.nav-icon {
	display: none;
}

@keyframes slideDown {
	0% { transform: translateY(-40px); }
	40% { transform: translateY(2px); }
	100% { transform: translateY(0); }
}