body { 
	font-family: 'Roboto', sans-serif;
	color: white;
	overflow: hidden;
	background-color: #ff5151;
}

header {
	font-weight: 500;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 9999999;

		p {
		float: left;
		padding: 1rem;
		text-align: left;

			span {
			font-weight: 400;
			}
		}
}

nav {
	right: 0;
	top: 0;
	float: right;
	padding: 1rem;

		ul li {
		display: inline;
		}
}

.pie {
	margin: 0 auto;
	width: 12.5%;
	display: block;
}

main {
	padding-top: 15vh;
}

.main-padder {
	padding-top: 5vh;
}

.home {
	background-color: #ff5151;
	width: 100vw;
	height: 100vw;
}

// Responsive Menu
#menu {
	display: none;
	position: absolute;
	z-index: 10;
}

@media screen and (max-width:528px) {
	#menu {
		display: block;
		right: 0.25rem;
		top: 0.25rem;
	}

	header {
		padding: 0;
	}

	.nav-list {
		width: 100%;
		padding: 0;
		float: none;
		text-align: center;
		height: 0;
		-webkit-transition: all 1s;
		display: none;

		li {
		width: 100%;
		display: block;
		padding: 0;
		vertical-align: middle;
		display: table-cell;
		height: 25vh;
		}
	}

	.show-menu {
		opacity: 1;
		height: auto;
		-webkit-transition: all 500ms;
		width: 100%;
		padding: 0;
		position: absolute;
		height: auto;
		background-color: #ff5151;
		margin: 0;
		display: table;

			li {
			height: 25vh;
			box-sizing: border-box;
			border-bottom: 2px solid white;
			width: 1600px;
			vertical-align: middle;
			display: table-cell;
			-webkit-transition: all 500ms;
			}

				li:hover {
				background-color: #ffffff;
				transition: all 0.5s;
				color: #ff5151;
				}

			a {
			color: white;
			}
	}

	nav {
		float: none;
	}

	.pie {
		width: 50%;
	}

	main {
		padding-top: 6rem;
	}

	h1 {
		font-size: 1.33rem;
		width: 90%;
		margin: 0 auto;
	}

	h2 {
		font-size: 1rem;
	}

	.nav-list span {
		display: none;
	}

	button {
		margin-top: 3rem;
	}
}