#bus-app {
	padding-top: 0;
}

.phone-background {
	background-image: url(../img/phone-bg-3.png);
	width: 336px;
	height: 717px;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0%;
	right: 0;
	background-position: center bottom;
	z-index: 15;
}

#phone-screen {
	width: 292px;
	height: 507px;
	background-color: #fff;
	position: absolute;
	top: 113px;
	left: 23px;
	overflow: hidden;
}

/* Phone Stylings */
#phone-head {
	text-align: center;
	font-weight: 500;
}

/* Phone Stylings */
#bus-header {
	background-color: $green;
	width: 100%;
	height: 48px;
	padding: 0;
	z-index: 6;
	box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 1);
}

.bus-subheader {
	background-color: #fff;
	width: 94%;
	height: 68px;
	z-index: 1;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 8px;
	color: black;
	font-size: 12px;
	border: 1px solid #cdcdcd;
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.20);
	animation: subheader-move-down 400ms ease-in-out;
	animation-fill-mode: forwards;
}

#my-location {
	width: 75%;
	margin: 0 auto;
	height: 34px;
	box-sizing: border-box;
	border-bottom: 1px solid black;
	color: #4d4d4d;

		p {
		padding-top: 10px;
		}
}

#destination {
	width: 75%;
	margin: 0 auto;
	height: 34px;

		p {
		padding-top: 10px;
		color: #c4c2c2;
		}
}

#map {
	width: 100%;
	height: 350px;
	z-index: 5;
	background-image: url(../img/map.jpg);
	background-size: cover;
}

.routes {
	width: 100%;
	height: 165px;
	z-index: 1;
	background-color: #fff;
	box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.15);
	transition: all 300ms;
	transition-timing-function: ease-in-out;
	position: absolute;
	bottom: 74px;
	overflow: hidden;
}

.routes-expand {
	position: absolute;
	bottom: 0px;
	height: 422px;
	transition: all 300ms;
	transition-timing-function: ease-in-out;
}

#near-you {
	height: 45px;
	width: 100%;
	background-color: $dark-blue;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 1px solid #999999;

	p {
	padding-left: 54px;
	padding-top: 14px;
	}
}

.route-button {
	width: 48px;
	height: 48px;
	background-color: $green;
	border-radius: 24px;
	position: absolute;
	bottom: 214px;
	right: 18px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	cursor: pointer;
	z-index: 10;
	transition: all 300ms;
	transition-timing-function: ease-in-out;
}

.routes-button-raise {
	width: 48px;
	height: 48px;
	background-color: $green;
	border-radius: 24px;
	position: absolute;
	bottom: 396px;
	right: 18px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	cursor: pointer;
	z-index: 10;
	transition: all 300ms;
	transition-timing-function: ease-in-out;
}

.main-nav {
	width: 100%;
	height: 54px;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	z-index: 12;
	border-top: 2px solid $green;
	color: black;

	ul {
		width: 100%;

		li {
			width: 25%;
			display: inline-block;
			cursor: pointer;
		}
	}
}

.nav-p {
	color: #868686;
	font-size: 0.8rem;
	font-weight: 500;
	display: block;
	text-align: center;
}

.nav-icon {
	width: 24px;
	display: block;
	margin: 0 auto;
}

.icon-large {
	width: 34px;
}

.icon-small {
	width: 22px;
	padding-bottom: 2px;
}

// Favorites Screen 
.mcts-favorites-screen {
	overflow: hidden;
	display: none;
}

.favorites-header {
	background-color: $green;
	width: 100%;
	height: 82px;
}

.favorites-header p {
	font-size: 1.3rem;
	padding: 42px 0 0 82px;
}

.favorite-button {
	width: 48px;
	height: 48px;
	background-color: $green;
	border-radius: 50%;
	position: absolute;
	top: 58px;
	left: 16px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	cursor: pointer;
	z-index: 10;
	transition: all 300ms;
	transition-timing-function: ease-in-out;
}

.fav-add {
	background-color: $dark-blue;
	width: 42px;
	height: 42px;
	top: 60px;
}

#addfavorite {
	width: 24px;
	margin: 0 auto;
	padding-top: 9px;
	display: block;
}

.fav-routes-container {
	margin-top: 40px;
}

// Routes Screen
.mcts-routes-screen {
	color: black;
}

.mcts-map-screen {
	color: black;
}


/* Route Row */
.route-row {
	height: 42px;
	width: 100%;
	background-color: white;
	color: #4d4d4d;
	font-size: 12px;
	position: relative;
	border-bottom: 1px solid #f4f4f4;
}

.route-number {
	width: 24px;
	height: 24px;
	background-color: $green;
	border-radius: 12px;
	font-size: 11px;
	text-align: center;
	color: white;
	float: left;
	margin-left: 18px;
	margin-top: 9px;
}

.route-number p {
	padding-top: 7px;
	font-weight: 500;
}

.route-name {
	margin-top: 8px;
}

.route-name, .route-stop {
	padding-left: 18px;
	float: left;
	width: 40%;
}

.fav-name {
	font-size: 14px;
	font-weight: 600;
	width: 48%;
}

.route-time {
	float: right;
	width: auto;
	font-size: 10px;
	color: #4d4d4d;
	padding-right: 36px;
	padding-top: 4px;
}

.route-stop {
	font-size: 10px;
	padding-top: 4px;
	color: #999999;
}

#nav-icon-one {
	width: 12px;
	transform: rotate(33deg);
	position: absolute;
	left: 20px;
	top: 10px;
}

#swapvert {
	width: 24px;
	position: absolute;
	right: 8px;
	top: 20px;
}

.route-timer {
	width: 12px;
	position: absolute;
	right: 20px;
	bottom: 14px;
}

.route-arrow {
	width: 9px;
	transform: rotate(90deg);
	position: absolute;
	left: 49px;
	top: 9px;
}

#find-location {
	width: 24px;
	margin: 0 auto;
	display: block;
	padding-top: 12px;
}

.subheader-move {
	animation: subheader-move 400ms ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes subheader-move {
  0%   { transform: translateY(0px); }
  20%   { transform: translateY(4px); }
  100% { transform: translateY(-100px); }
}

@keyframes subheader-move-down {
  0%   { transform: translateY(-100px); }
  80%   { transform: translateY(4px); }
  100% { transform: translateY(0px); }
}
