.work-bg {
	background-color: $blue;
	overflow: visible;
	overflow-x: hidden;
}

.work-header {
	background-color: $blue;
	height: 40px;
}

.my-work-body {
	background-color: $blue;
}

.active {
	color: #ffff00;
}

.mac-container, .iphone-container, .animation-container {
	float: left;
	width: 33%;
	opacity: 0;
	transition: all 300ms;
}

.work-action-container-fix {
	width: auto;
	margin: 2rem;
	transition: all 700ms;
}

.mac-container:hover, .iphone-container:hover, .animation-container:hover {
	transform: translateY(-8px);
	transition: all 300ms;
}

.mac, .iphone, .animation {
	margin: 0 auto;
	display: block;
	transition: all 700ms;
	width: 28%;
	cursor: pointer;
}

.mac {
	width: 70%;
}

.current-border {
	padding-bottom: 0.5rem;
	border-bottom: 2px solid yellow;
	transition-delay: 400ms;
}

.work-action {
	width: 30px;
	transform: translateY(-200px);
	transition: all 700ms;
}

.work-action-mac {
	width: 60px;
	transform: translateY(-200px);
	transition: all 700ms;
	transition-timing-function: ease-in-out;
}

.work-container {
	width: 80%;
	margin: 0 auto;
	margin-top: 6rem;
	transition: all 700ms;
	transition-timing-function: ease-in-out;
}

.work-container-add {
	width: 15%;
	margin: 0 auto;
	margin-top: 0rem;
	transition: all 700ms;
}

/* App Details */
.app-info {
	float: right;
	margin-top: 0px;
	margin-right: 0px;
	width: 700px;
	height: 600px;
	position: relative;
}

.app-specs {
	padding-left: 12px;
	padding-top: 2px;
}

.app-specs li {
	padding: 2px;
	font-weight: 500;
}

.app-specs li span {
	color: $yellow;
}

.app-info-p {
	width: 66%;
	float: right;
	padding-right: 7rem;
	padding-top: 2rem;
	line-height: 1.5rem;
	font-weight: 500;
}

.github-icon {
	width: 37px;
	height: 36px;
	position: absolute;
	right: 100px;
	top: 2px;
	background-image: url(../img/github-icon.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.github-icon:hover {
	background-image: url(../img/github-icon-yellow.png);
	cursor: pointer;
	transition: all 500ms;
}

.git-home {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	top: auto;
}