.blue-bg::-webkit-scrollbar {
	display: none;
}

.web-work {
	h3 {
		display: none;
	}
}

.web-container {
	display: flex;
	width: 100%;
	height: auto;
	margin-top: 25vh;
}

.monitor-container {
	width: 300px;
}

.monitor {
	width: 100%;
}

.monitor__mac {
	width: 275px;
}

.non-animate {
	transform: scale(1);
	animation: none;
}

.animation__transform {
	transform: scale(1.2);
}

.piece__still {
	animation: none;
	transform: scale(1);
}

.work__container-animate {
	animation: bye 1200ms ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes bye {
	0% { transform: scale(1) translateY(200px); }
	100% { transform: scale(0.22) translateY(-500px); }
}

.web__monitor {
	width: 300px;
}