.blue-bg::-webkit-scrollbar {
	display: none;
}

.web-work {
	h3 {
		display: none;
	}
}

.web-container {
	display: flex;
	width: 100%;
	height: auto;
}

.monitor-container {
	width: 300px;
}

.monitor {
	width: 100%;
}