.blue-bg::-webkit-scrollbar {
	display: none;
}

.web-work {
	h3 {
		display: none;
	}

	.web-container {
		clear: both;
		display: flex;
		flex-direction: row;
		height: auto;
	}
}

.web__column-1 {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	margin-top: 1rem;

	.monitor_1 {
		width: 220px;
		height: auto;
		display: block;
		padding: 20px;
		cursor: pointer;
		animation: slider 600ms linear;
		transition: transform 500ms;
	}

	.monitor_2 {
		width: 180px;
		height: auto;
		padding: 20px;
		padding-bottom: 2rem;
		padding-right: 2.4rem;
		transition: transform 300ms;
		cursor: pointer;
		animation: slider_xl 800ms linear;
		
	}
}

.web__column-2 {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;

	.monitor_xl {
		display: block;
		width: 540px;
		margin: 0 auto;
		padding-top: 8rem;
		animation: slider_xl 800ms ease-out;
	}
}

.web__column-3 {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 2rem;
	

	.monitor_3 {
		width: 110px;
		height: auto;
		padding-bottom: 2rem;
		transition: all 500ms;
		cursor: pointer;
		animation: slider_right 800ms ease-out;
		padding-left: 3rem;
	}

	.monitor_4 {
		width: 110px;
		height: auto;
		padding-top: 3rem;
		transition: all 500ms;
		cursor: pointer;
		animation: slider_xl 1000ms ease-out;
		padding-left: 3rem;
	}
}

.monitor_2-animate {
	transform: scale(0.9);
	transition: transform 300ms;
}

.monitor_xl-animate {
	transform: scale(0.66);
	transition: transform 500ms;
}

.monitor_3-animate {
	transform: scale(0.9);
	transition: transform 500ms;
}

.monitor_4-animate {
	transform: scale(0.9);
	transition: transform 500ms;
}

// hover effects
.monitor_1:hover {
	transform: scale(1.33);
	transition: all 500ms;
}


// .monitor_1:hover ~ .monitor_2 {
// 	transform: scale(0.2);
// 	transition: transform 300ms;
// }

.monitor_2:hover {
	transform: scale(0.66);
	transition: transform 300ms;
}

.monitor_2:hover .monitor_1 {
	transform: scale(0.66);
	transition: transform 300ms;
}

.monitor_xl {
	transition: transform 300ms;
}
.monitor_xl:hover {
	transform: scale(0.66);
	transition: transform 300ms;
}



// animations
@keyframes slider {
  0%   { transform: translateX(-1200px); }
  100% { transform: translateX(0px); }
}

@keyframes slider_xl {
  0%   { transform: translateY(1200px); }
  100% { transform: translateY(0px); }
}

@keyframes slider_right {
  0%   { transform: translateX(1200px); }
  100% { transform: translateY(0px); }
}