.web__items {
	.work__container-animate {
		transform: scale(0.22) translateY(-500px);
		animation: none;
	}

	h3 {
		display: none;
	}
}

.web__item-container {
	transform: translateY(-140px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.monitor__web-item{
	width: 399px;
	cursor: pointer;
}

.web__item-header {
	padding-bottom: .4rem;
}

.web__item-expand {
	color: $yellow;
	padding-bottom: .6rem;
}

.web__item-monitor {
	display: flex;
	align-items: center;
}

.arrow {
	width: 32px;
	transform: rotate(-90deg);
	padding: .6rem;
	cursor: pointer;
}

.arrow:nth-of-type(3) {
	transform: rotate(90deg);
}

.web__item-subheading {
	padding-bottom: 1rem;
}

.web__item-content {
	padding-top: 1rem;
	max-width: 800px;
	line-height: 1.6;
}

.web__item-header, .web__item-expand, .arrow, {
	opacity: 0;
	animation: fade-in 500ms linear;
	animation-fill-mode: forwards;
}

@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.web__item-content {
	transform: translateY(1000px);
	animation: slide-up 800ms linear;
	animation-delay: 100ms;
	animation-fill-mode: forwards;
}

@keyframes slide-up {
	0% { transform: translateY(1000px); }
	100% { transform: translateY(0px); }
}

.blur {
	filter: blur(5px);
	transition: filter 300ms;
}

.blur-extra {
	filter: blur(25px);
	transition: filter 300ms;
}

.web__project-view {
	position: absolute;
	width: 360px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 100px;
	opacity: 1;
	display: none;
	animation: 1500ms view-piece linear;
	animation-fill-mode: forwards;
	animation-delay: 500ms;
}

@keyframes view-piece {
	0% { width: 360px; position: fixed;}
	100% { width: 100vw; position: fixed;}
}

// .web__project-view {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100vw;
// 	height: auto;
// 	animation: fade-in 500ms linear;
// }