.work {
	background: linear-gradient(to bottom right, #4BC0C8, #C779D0, #FEAC5E) fixed;
	padding-bottom: 120px;

	.icon__work path {
		fill: $yellow;
	}
}

.blue-bg {
	background: #FEAC5E;
	background: linear-gradient(to bottom right, #4BC0C8, #C779D0, #FEAC5E);

	nav {
		background: #FEAC5E;
		background: linear-gradient(to bottom right, #4BC0C8, #C779D0, #FEAC5E) fixed;
	}
}

.work__container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	animation: fades 440ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	opacity: 0;
	margin-top: 60px;
}

.work__container-transformer {
	display: flex;
	align-self: center;
	justify-content: space-around;
	align-items: center;
	animation: workContainerAnimation 340ms ease-in-out;
	animation-fill-mode: forwards;

	.work__piece-span {
		animation: fadeout 200ms;
	}

}

.work__container-transformed {
	display: flex;
	align-self: center;
	justify-content: space-around;
	align-items: center;
	transform: translateY(20px) scale(.85);
	opacity: 1;
	max-width: 400px;
	margin: 0 auto;

	.work__piece-span {
		display: none;
	}

}

@keyframes workContainerAnimation {
	0% { transform: translateY(160px) scale(1); opacity: 1;}
	100% { transform: translateY(-160px) scale(.25); opacity: 1; }
}


.work__piece-link {
	display: inline-block;
	text-align: center;
}

.mac, .iphone, .animate-container {
	transition: transform 300ms;
	padding-bottom: 2rem;
	display: block;
}

.mac {
	width: 70px;
}

.iphone {
	width: 26px;
	margin: 0 auto;
	display: block;
}

.mac-resize {
	width: 68px;
	transition: all 2800ms;
	transition-delay: 80ms;
	transition-timing-function: ease;
}

.iphone-resize {
	width: 27px;
	transition: all 2800ms;
	transition-delay: 80ms;
	transition-timing-function: ease;
}

.current-border {
	padding-bottom: 0.5rem;
	border-bottom: 2px solid yellow;
}

// Animation container
.animate-container {
	width: 280px;
	height: 316px;
	cursor: pointer;
	position: relative;
	margin: 0 auto;
	display: block;
}

.animate-container-resize {
	width: 80px;
	height: 56px;
}

.left-bar, .right-bar {
	width: 6px;
	height: 42px;
	background: #ffffff;
	margin: 2px;
	position: absolute;
}

.animate-container {
	width: 80px;
	height: 56px;
}

.left-bar {
	left: 0;
	top: 8px;
	width: 3px;
	height: 16px;
	animation: left-bar-resize 2200ms infinite;
	animation-timing-function: linear;
}

.right-bar {
	right: 0;
	top: 4px;
	width: 3px;
	height: 16px;
	animation: right-bar-resize 2200ms infinite;
	animation-timing-function: linear;
}

.ball {
	width: 3px;
	height: 3px;
	background: #ffffff;
	position: absolute;
	left: 26px;
	top: 5px;
	animation: ball-resize 2200ms infinite;
	animation-timing-function: linear;
}

.left-bar-resize {
	width: 3px;
	height: 16px;
	top: 8px;
	animation: left-bar-resize 2200ms infinite;
	animation-timing-function: linear;
}

.right-bar-resize {
	width: 3px;
	height: 16px;
	top: 4px;
	animation: right-bar-resize 2200ms infinite;
	animation-timing-function: linear;
}

.ball-resize {
	width: 3px;
	height: 3px;
	top: 5px;
	left: 26px;
	animation: ball-resize 2200ms infinite;
	animation-timing-function: linear;
}

@keyframes fades {
	0% { opacity: 0; transform: translateY(140px)}
	100% { opacity: 1; transform: translateY(20px); }
}

@keyframes fadeopacity {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeout {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes right-bar {
  0%  { transform: translateY(-60px);}
  25% { transform: translateY(96px);}
  50% { transform: translateY(-60px);}
  75% { transform: translateY(96px);}
  100% { transform: translateY(-60px);}
}

@keyframes right-bar-resize {
  0%  { transform: translateY(-14px);}
  25% { transform: translateY(40px);}
  50% { transform: translateY(-14px);}
  75% { transform: translateY(40px);}
  100% { transform: translateY(-14px);}
}

@keyframes left-bar {
  0%  { transform: translateY(-80px);}
  25% { transform: translateY(0px);}
  50% { transform: translateY(22px);}
  75% { transform: translateY(-56px);}
  100% { transform: translateY(-80px);}
}

@keyframes left-bar-resize {
  0%  { transform: translateY(-20px);}
  25% { transform: translateY(0px);}
  50% { transform: translateY(12px);}
  75% { transform: translateY(-16px);}
  100% { transform: translateY(-20px);}
}

@keyframes ball {
  0%  { transform: translateX(-122px)translateY(0px);}
  25% { transform: translateX(136px)translateY(100px);}
  50% { transform: translateX(-122px)translateY(100px);}
  75% { transform: translateX(136px)translateY(100px);}
  100% { transform: translateX(-122px)translateY(0px);}
}

@keyframes ball-resize {
  0%  { transform: translateX(-21px)translateY(-10px);}
  25% { transform: translateX(46px)translateY(44px);}
  50% { transform: translateX(-21px)translateY(20px);}
  75% { transform: translateX(46px)translateY(48px);}
  100% { transform: translateX(-21px)translateY(-10px);}
}

.mobile__heading, .animate-heading {
	padding-top: 1.4rem;
}

@media screen and (min-width: 700px) {
	.mac { width: 100px; }
	.iphone { width: 40px; }
	.animate-heading { padding-top: 3rem; }
	.animate-container { padding-bottom: 3.8rem; }
}

@media screen and (min-width: 900px) {
	.mac { width: 160px; }
	.iphone { width: 68px; }
	.animate-container { margin-top: 3rem; padding-bottom: 4.8rem; }

	.work__container-transformed {
		.mac {
			width: 100px;
		}
		.iphone {
			width: 40px;
		}
		.animate-container {
			width: 100px;
			padding-bottom: 4rem;
		}

		.left-bar {
			left: 0;
			top: 8px;
			width: 3px;
			height: 16px;
			animation: left-bar-resize 2200ms infinite;
			animation-timing-function: linear;
		}

		.right-bar {
			right: 0;
			top: 4px;
			width: 3px;
			height: 16px;
			animation: right-bar-resize 2200ms infinite;
			animation-timing-function: linear;
		}

		.ball {
			width: 3px;
			height: 3px;
			background: #ffffff;
			position: absolute;
			left: 26px;
			top: 5px;
			animation: ball-resize 2200ms infinite;
			animation-timing-function: linear;
		}
	}

}

@media screen and (min-width: 1040px) {
	.mac { width: 180px; }
	.iphone { width: 78px; padding-bottom: 1.1rem;}
	.animate-container { margin-top: 5.1rem; padding-bottom: 2.8rem; }
	.work__container { margin-top: 140px; }
}

@media screen and (min-width: 1300px) {
	.mac {
		width: 100%;
	}

	.iphone {
		width: 100%;
		padding-bottom: 1.8rem;
	}

	.work__container-transformed {
		.animate-container {
			padding-bottom: 0rem;
		}
	}

	.left-bar, .right-bar {
		width: 6px;
		height: 42px;
		top: 40px;
		background: #ffffff;
		margin: 2px;
		position: absolute;
	}

	.ball {
		width: 6px;
		height: 6px;
		background: #ffffff;
		position: absolute;
		left: 130px;
		top: 120px;
		animation: ball 3000ms infinite;
		animation-timing-function: linear;
	}

	.animate-container { width: 280px; height: 166px; margin-top: 3rem; padding-bottom: 5.8rem;}
	.web-header { padding-top: 2rem; }
	.animation-container { padding-top: 0; }
	.left-bar, .ball, .right-bar { top: 0px; }
	.mobile__heading { padding-top: 2.15rem; }
	.animate-heading { padding-top: 6.5rem; }

	.left-bar {
		left: 0;
		top: 40px;
		animation: left-bar 3000ms infinite;
	}

	.right-bar {
		right: 0;
		top: 0px;
		animation: right-bar 3000ms infinite;
		animation-timing-function: linear;
	}
}

@media screen and (min-width: 1000px) {
	.work__container-transformed {
			transform: translateY(20px) scale(1);
			max-width: 400px;
	}
}
