.blue-bg {
	background: $blue;
}

.mac-container, .iphone-container, .animation-container {
		float: left;
		width: 33%;
		transition: all 300ms;
	}

	.mac-container {
		-webkit-animation-delay: 210ms;
	}

	.animation-container {
		-webkit-animation-delay: 150ms;
	}

.work-layout {

	.mac-container, .iphone-container, .animation-container {
		float: left;
		width: 33%;
		transition: all 300ms;
		-webkit-animation: bubble 800ms ease-out;
		-webkit-animation-fill-mode: forwards;
		transform: scale(0);
	}

	.mac-container {
		-webkit-animation-delay: 210ms;
	}

	.animation-container {
		-webkit-animation-delay: 150ms;
	}
}
.work-action-container-fix {
	width: auto;
	margin: 2rem;
	transition: 400ms;
}

.mac-container:hover {
	transform: translateY(-8px);
	transition: all 500ms;
}

.mac, .iphone, .animation {
	margin: 0 auto;
	display: block;
	width: 28%;
	cursor: pointer;
	transition: all 500ms;
}

.mac {
	width: 376px;
}

.iphone {
	width: 150px;
}

.mac-resize {
	width: 68px;
}

.iphone-resize {
	width: 27px;
	transition: width 300ms;
}

.current-border {
	padding-bottom: 0.5rem;
	border-bottom: 2px solid yellow;
}

.work-container {
	width: 80%;
	max-width: 1900px;
	margin: 0 auto;
	transform: translateY(6rem);
	transition: all 400ms;
}

.work-container-add {
	width: 20%;
	margin: 0 auto;
	transform: translateY(1rem);
	transition: all 400ms;
	transition-timing-function: ease-in;
}


// Animation container
.animate-container {
	width: 280px;
	height: 316px;
	cursor: pointer;
	position: relative;
	margin: 0 auto;
	display: block;
}

.animate-container-resize {
	width: 80px;
	height: 56px;
}

.left-bar, .right-bar {
	width: 6px;
	height: 42px;
	background: #ffffff;
	margin: 2px;
	position: absolute;
}

.left-bar {
	left: 0;
	top: 180px;
	animation: left-bar 3000ms infinite;
}

.right-bar {
	right: 0;
	top: 120px;
	animation: right-bar 3000ms infinite;
	animation-timing-function: linear;
}

.left-bar-resize {
	width: 3px;
	height: 16px;
	top: 8px;
	animation: left-bar-resize 2200ms infinite;
	animation-timing-function: linear;
}

.right-bar-resize {
	width: 3px;
	height: 16px;
	top: 4px;
	animation: right-bar-resize 2200ms infinite;
	animation-timing-function: linear;
}

.ball {
	width: 6px;
	height: 6px;
	background: #ffffff;
	position: absolute;
	left: 130px;
	top: 120px;
	animation: ball 3000ms infinite;
	animation-timing-function: linear;
}

.ball-resize {
	width: 3px;
	height: 3px;
	top: 5px;
	left: 26px;
	animation: ball-resize 2200ms infinite;
	animation-timing-function: linear;
}

@keyframes bubble {
	0% { transform: scale(0); }
	70% { transform: scale(1.1); }
	100% { transform: scale(1); }
}

@keyframes right-bar {
  0%  { transform: translateY(-60px);}
  25% { transform: translateY(96px);}
  50% { transform: translateY(-60px);}
  75% { transform: translateY(96px);}
  100% { transform: translateY(-60px);}
}

@keyframes right-bar-resize {
  0%  { transform: translateY(-14px);}
  25% { transform: translateY(40px);}
  50% { transform: translateY(-14px);}
  75% { transform: translateY(40px);}
  100% { transform: translateY(-14px);}
}

@keyframes left-bar {
  0%  { transform: translateY(-80px);}
  25% { transform: translateY(0px);}
  50% { transform: translateY(22px);}
  75% { transform: translateY(-56px);}
  100% { transform: translateY(-80px);}
}

@keyframes left-bar-resize {
  0%  { transform: translateY(-20px);}
  25% { transform: translateY(0px);}
  50% { transform: translateY(12px);}
  75% { transform: translateY(-16px);}
  100% { transform: translateY(-20px);}
}

@keyframes ball {
  0%  { transform: translateX(-122px)translateY(0px);}
  25% { transform: translateX(136px)translateY(100px);}
  50% { transform: translateX(-122px)translateY(100px);}
  75% { transform: translateX(136px)translateY(100px);}
  100% { transform: translateX(-122px)translateY(0px);}
}

@keyframes ball-resize {
  0%  { transform: translateX(-21px)translateY(-10px);}
  25% { transform: translateX(46px)translateY(44px);}
  50% { transform: translateX(-21px)translateY(20px);}
  75% { transform: translateX(46px)translateY(48px);}
  100% { transform: translateX(-21px)translateY(-10px);}
}