<footer>
	<a href="http://www.linkedin.com/in/rossfenrick" target="_blank">
		<svg class="icon-linkedin" width="28px" height="28px" viewBox="0 0 52 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		    <!-- Generator: Sketch 3.7 (28169) - http://www.bohemiancoding.com/sketch -->
		    <title>linkedin_alt</title>
		    <desc>Created with Sketch.</desc>
		    <defs></defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g id="Desktop-HD-Copy-2" transform="translate(-648.000000, -281.000000)" fill="#FFFFFF">
		            <g id="linkedin_alt" transform="translate(648.000000, 281.000000)">
		                <path d="M48.1697752,0.13117248 L3.96427883,0.13117248 C1.84745435,0.13117248 0.1317488,1.79443288 0.1317488,3.84728581 L0.1317488,48.2821577 C0.1317488,50.3350106 1.84803067,52 3.96427883,52 L48.1697752,52 C50.2865997,52 52,50.3344343 52,48.2821577 L52,3.84728581 C52,1.7950092 50.2865997,0.13117248 48.1697752,0.13117248 L48.1697752,0.13117248 Z M15.8566483,43.548839 L8.01984483,43.548839 L8.01984483,20.1306397 L15.8566483,20.1306397 L15.8566483,43.548839 L15.8566483,43.548839 Z M11.9388229,16.9314857 L11.8863778,16.9314857 C9.25835716,16.9314857 7.55475434,15.1339427 7.55475434,12.8839882 C7.55475434,10.5885044 9.30849703,8.83994862 11.9883865,8.83994862 C14.6688522,8.83994862 16.3177046,10.5879281 16.3695734,12.8839882 C16.3695734,15.134519 14.6694285,16.9314857 11.9388229,16.9314857 L11.9388229,16.9314857 Z M44.1067171,43.548839 L36.2722189,43.548839 L36.2722189,31.0196356 C36.2722189,27.8706214 35.1368679,25.7226757 32.3036772,25.7226757 C30.1361366,25.7226757 28.8497896,27.1721212 28.2849957,28.5708506 C28.0752151,29.0710966 28.0239226,29.7695968 28.0239226,30.4680971 L28.0239226,43.5482627 L20.190577,43.5482627 C20.190577,43.5482627 20.2931621,22.3264201 20.190577,20.1300634 L28.024499,20.1300634 L28.024499,23.4502447 C29.0647571,21.8549901 30.9228138,19.5791012 35.0838464,19.5791012 C40.2401842,19.5791012 44.1067171,22.9240643 44.1067171,30.1205759 L44.1067171,43.548839 L44.1067171,43.548839 Z M27.9737828,23.52459 C27.9876145,23.5026898 28.0060567,23.4761791 28.024499,23.450821 L28.024499,23.52459 L27.9737828,23.52459 L27.9737828,23.52459 Z" id="LinkedIn__x28_alt_x29_"></path>
		            </g>
		        </g>
		    </g>
		</svg>
	</a>
</footer>
