<div class="home__container">
  <svg class="pie" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	  viewBox="0 0 512 501.54" enable-background="new 0 0 512 501.54" xml:space="preserve">
  <g id="pie">
  	<g id="pie_1_">
  		<path fill="#FFFF00" d="M458.318,272.163c-24.529-52.336-96.754-106.152-203.726-106.152
  			c-106.821,0-179.116,53.816-203.69,106.064h-0.187C22.747,272.075,0,294.812,0,322.79c0,13.445,5.328,25.625,13.899,34.695
  			l36.059,98.436c0,0,20.422,45.619,45.619,45.619h320.105c25.198,0,45.619-45.619,45.619-45.619l35.622-97.234
  			C506.191,349.493,512,336.84,512,322.79C512,293.833,487.756,270.399,458.318,272.163z M444.4,449.006
  			c-7.155,15.664-21.393,34.285-28.718,34.285H95.577c-6.611,0-20.743-16.928-28.726-34.303l-36.397-99.363h450.352L444.4,449.006z
  			 M492.451,331.379H19.53c-0.802-2.727-1.283-5.596-1.283-8.59c0-17.908,14.568-32.468,32.468-32.468
  			c1.337,0,2.61,0.214,4.624,0.498l7.11,1.017l2.655-6.684c19.923-50.144,91.407-100.895,189.488-100.895
  			c98.357,0,169.832,50.911,189.596,101.2l2.823,7.181l7.557-1.604c20.6-4.384,39.186,11.654,39.186,31.754
  			C493.752,325.792,493.235,328.641,492.451,331.379z"/>
  		<path fill="#FFFF00" d="M257.061,242.422c-6.042,0-10.941,9.909-10.941,22.114c0,12.225,4.9,22.133,10.941,22.133
  			c6.049,0,10.949-9.908,10.949-22.133C268.011,252.331,263.109,242.422,257.061,242.422z"/>
  		<path fill="#FFFF00" d="M314.404,230.661c-4.276,4.276-0.739,14.737,7.904,23.38c8.642,8.643,19.111,12.188,23.387,7.912
  			c4.277-4.295,0.74-14.755-7.902-23.398S318.682,226.383,314.404,230.661z"/>
  		<path fill="#FFFF00" d="M176.328,238.554c-8.643,8.643-12.18,19.103-7.903,23.397c4.276,4.276,14.746,0.731,23.388-7.912
  			c8.643-8.643,12.18-19.103,7.903-23.379C195.439,226.383,184.97,229.912,176.328,238.554z"/>
  		<path fill="#FFFF00" d="M251.758,79.37c8.314,6.468,11.69,9.605,11.69,14.791c0,13.418-14.603,25.25-20.216,28.671l9.408,15.646
  			c1.185-0.731,29.055-17.802,29.055-44.318c0-14.613-10.389-22.703-18.736-29.19c-8.447-6.576-15.735-12.242-16.644-23.967
  			c-1.497-19.477,15.949-22.454,19.468-22.845L264.82,9.07l0.899,9.088L263.921,0c-13.41,1.337-38.144,11.904-35.801,42.394
  			C229.644,62.174,242.43,72.117,251.758,79.37z"/>
  		<path fill="#FFFF00" d="M306.501,79.37c8.304,6.468,11.69,9.605,11.69,14.791c0,13.418-14.613,25.25-20.217,28.671l9.408,15.646
  			c1.186-0.731,29.057-17.802,29.057-44.318c0-14.613-10.39-22.703-18.737-29.19c-8.447-6.576-15.744-12.242-16.644-23.967
  			c-1.498-19.477,15.957-22.454,19.467-22.845l-0.963-9.088l0.9,9.088L318.664,0c-13.41,1.337-38.145,11.904-35.801,42.394
  			C284.387,62.174,297.164,72.117,306.501,79.37z"/>
  		<path fill="#FFFF00" d="M197.016,79.37c8.314,6.468,11.69,9.605,11.69,14.791c0,13.418-14.604,25.25-20.216,28.671l9.408,15.646
  			c1.185-0.731,29.056-17.802,29.056-44.318c0-14.613-10.389-22.703-18.737-29.19c-8.447-6.576-15.735-12.242-16.644-23.967
  			c-1.497-19.477,15.948-22.454,19.468-22.845l-0.963-9.088l0.9,9.088L209.179,0c-13.41,1.337-38.144,11.904-35.801,42.394
  			C174.902,62.174,187.688,72.117,197.016,79.37z"/>
  	</g>
  </g>
  <g id="Layer_1_1_">
  </g>
  </svg>
  <h1 class="home__heading">My passion is creating from scratch</h1>
  <h2 class="home__subheading">I'm currently <span id="word__change">developing</span> at <img class="ibm-logo" src="img/ibm-logo.svg" alt=""></h2>
  <a href="/my-work"class="check-out-work">
		Check out my work!
  </a>
  <div class="anim"></div>
</div>
