<!DOCTYPE html>
<html>
  <head><% include ../../global/head.ejs %></head>
  <body class="blue-bg mobile-work">
    <% include ../../global/header.ejs %>
    <% include ../work-heading.ejs %>
    <h1>framer prototype here</h1>

    <% include ../../global/scripts.ejs %>
  </body>
</html>
