<!DOCTYPE html>
<html>
  <head><% include ../../global/head.ejs %></head>
  <body class="blue-bg mobile-work">
    <% include ../../global/header.ejs %>
    <% include ../work-heading.ejs %>
    <h1>framer prototype here</h1>
    <iframe src="https://framer.cloud/ZzmAX/index.html" frameborder="0"></iframe>
    hint: tap the budget icon in the nav, then open up the food row. swipe left to see more of the budget section.
    <% include ../../global/scripts.ejs %>
  </body>
</html>
