<!DOCTYPE html>
<html>
  <head><% include ../../global/head.ejs %></head>
  <body class="blue-bg mobile-work work">
    <% include ../../global/header.ejs %>
    <% include ../work-heading.ejs %>
    <div class="monitor__container">
      <a class="web__piece-bubble project project__one mobile-project" href="mobile/mobile-prototype">
        <img class="mobile-screens" src="../../img/mobile-mcts.png" alt="">
        <h2>Transit app prototype</h2>
      </a>
      <a class="web__piece-bubble project project__two mobile-project" href="mobile/framer-prototype">
        <img class="mobile-screens" src="../../img/mobile-budget.png" alt="">
        <h2>Budget app prototype</h2>
      </a>
    </div>
    <% include ../../global/scripts.ejs %>
  </body>
</html>
