a {
	text-decoration: none;
	color: white;
}

.check-out-work {
	background-color: rgba(0,0,0,0);
	border: 4px solid $yellow;
	padding: 1.2rem 1.6rem 1.2rem 1.6rem;
	width: 186px;
	margin: 0 auto;
	margin-top: 5rem;
	display: block;
	color: $yellow;
	font-size: 1.2rem;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	transition: 200ms ease-in-out;
	-webkit-animation: btn-hover 2600ms infinite;
	-webkit-transition-timing-function: ease;
}
.check-out-work:hover {
	background-color: $yellow;
	transition: 200ms ease-in-out;
	cursor: pointer;
	color: $red;
}
