<!DOCTYPE html>
<html>
  <head><% include ../../global/head.ejs %></head>
  <body class="blue-bg web-work work">
  	<% include ../../global/header.ejs %>
    <div class="clearfix"></div>
    <% include ../work-heading.ejs %>
    <div class="monitor__container">
      <a href="web/web-onboarding" class="web__piece-bubble project project__one" >
        <div class="web__piece mac project__one">
          <img src="../img/monitor-bluemix.png" alt="" class="web__monitor">
          <h2>IBM Bluemix Account</h2>
        </div>
      </a>
      <a href="web/web-get-started" class="web__piece-bubble project project__two" >
        <div class="web__piece mac">
          <img src="../img/monitor-get-started.png" alt="" class="web__monitor">
          <h2>Get Started on IBM Bluemix</h2>
        </div>
      </a>
      <a href="web/web-chatbot" class="web__piece-bubble project project__three">
        <div class="web__piece mac">
          <img src="../img/monitor-chatbot.png" alt="" class="web__monitor">
          <h2>Prototyping for the web with Framer</h2>
        </div>
      </a>
    </div>
    <% include ../../global/scripts.ejs %>
  </body>
</html>
