<!DOCTYPE html>
<html>
  <head><% include ../../global/head.ejs %></head>
  <body class="blue-bg web__items bluemix framer-article">
  <% include ../../global/header.ejs %>
  <% include ../work-heading.ejs %>
  <div class="web__item-container">
    <h1 class="web__item-header">Code 101 at IBM Design</h1>
    <p class="web__item-text award">Teaching designers the fundamentals of front end development</p>
    <div class="web__item-monitor">
      <img src="../../img/monitor-code101.png" alt=""class="monitor__web-item">
    </div>
    <div class="web__item-content">
      </br>
      <p class="web__item-text">
        My first 3 months at IBM we're spent in "IBM Design Bootcamp", where 35 other new designers and I worked together on micro projects for various IBM products.
        This was the first time a majority of the designers had worked with front end developers, and they voiced a desire to both learn front end themselves and to learn what it's like from our perspective as devs.
      </p>
      </br>
      <p class="web__item-text">
        Once bootcamp ended I approached the leadership of the studio and proposed my idea of a 8 week course, open to anyone in the studio, who wanted to learn the basics of front end. It was greeted with enthusiasm and was given the green light.
      </p>
      </br>
      <p class="web__item-text">
        Now I just had to figure out, how do you teach a group of designers with no coding experience the basics of front end development?
      </p>
      </br>
      <p class="web__item-text">
        During our Bootcamp we had a developer come in and do a "1 day hackathon" on front end skills. While the intention was pure, it ended up with 30+ designers sitting stunned in their chairs trying to grasp things like Sass variables, git commands in the terminal and designing in the browser. As you might imagine, people who don't even know what a div is had a hard time.
      </p>
      </br>
      <p class="web__item-text">
      I decided to take a step back and focus on the fundamentals of HTML and CSS. I tried to remember what it was like the first time I opened up a blank text editor a few years ago.  
      </p>
    </div>
  </div>
  <% include ../../global/scripts.ejs %>
  </body>
  </html>
