<!DOCTYPE html>
<html>
  <head><% include ../../global/head.ejs %></head>
  <body class="blue-bg web__items bluemix">
  <% include ../../global/header.ejs %>
  <% include ../work-heading.ejs %>

  	<div class="web__item-container">
  		<h1 class="web__item-header">Prototyping for the web with Framer</h1>
  		<p class="web__item-text award">Medium article</p>
  		<div class="web__item-monitor">
  			<img src="../../img/monitor-chatbot.png" alt=""class="monitor__web-item">
			</div>
      <!-- <img class="web__project-view" src="img/bluemix-onboard.jpg" alt=""> -->
			<div class="web__item-content" id="bluemix-body">
				<h2 class="web__item-subheading">Framer isn't just for mobile</h2>
				<p class="web__item-text">This is an article I wrote that will give you an insight into my prototyping process. I like to user Framer really early in my process, prototyping things like micro interactions and screen flows.
          I follow the Framer Group on Facebook and I noticed a lot of people asking if it's even possible to do web prototyping, so I wrote an article showing how I was doing just that.
        </br></br>It ended up being featured in Framer's social media and you can see it on their <a href="https://framer.com/getstarted/resources/#articles" target="_blank">website</a>. You can read the article <a href="https://blog.framer.com/prototyping-for-the-web-with-framer-c619925272d5" target="_blank">here</a>.
				</p></br>
			</div>
  	</div>
  <% include ../../global/scripts.ejs %>
  </body>
</html>
