<!DOCTYPE html>
<html>
  <head><% include ../../global/head.ejs %></head>
  <body class="blue-bg web__items">
  <% include ../../global/header.ejs %>
  <% include ../work-heading.ejs %>
  <div class="web__item-container">
    <h1 class="web__item-header">Full stack node.js app</h1>
    <p class="web__item-text award">
      You can see the app live <a target="_blank" href="#">here</a> and the source code on <a target="_blank" href="#">GitHub</a>.
    </p>
    <div class="web__item-monitor">
      <img src="../../img/monitor-node.png" alt=""class="monitor__web-item">
    </div>
    <div class="web__item-contenta">

      <p class="web__item-text">
        This is a course I took by <a target="_blank" href="http://wesbos.com/">Wes Bos</a>, focusing on server side JavaScript with Node.js, Express, and MongoDB.
      </p>
    </div>
  </div>
  <% include ../../global/scripts.ejs %>
  </body>
  </html>
