<!DOCTYPE html>
<html>
  <head><% include ../../global/head.ejs %></head>
  <body class="blue-bg web__items bluemix work">
  <% include ../../global/header.ejs %>
  <% include ../work-heading.ejs %>

  	<div class="web__item-container">
  		<h1 class="web__item-header">IBM Container Service</h1>
      <p class="web__item-text award">Design workshop to release in 4 months</p>

  		<!-- <p class="web__item-expand">Click to view</p> -->
  		<div class="web__item-monitor">
  			<!-- <img src="../../img/arrow.svg" alt="" class="arrow"> -->
  			<img src="../../img/monitor-kube.png" alt=""class="monitor__web-item">
  			<!-- <img src="../../img/arrow.svg" alt="" class="arrow"> -->
			</div>
      <!-- <img class="web__project-view" src="img/bluemix-onboard.jpg" alt=""> -->
			<div class="web__item-content" id="bluemix-body">
				<h2 class="web__item-subheading">How we went from post-it notes to production</h2>
				<p class="web__item-text">
In late November I was approached to join a new team that would be focusing on Container Orchestration technology, mainly Kubernetes. Oh, and they needed to launch the entire thing in 4 months. The two things I love most about being a designer are shipping product and learning new things, so I decided to join the team.</br>
        </br>
        <p class="web__item-text">
          I was familiar with containers but I had never heard of Kubernetes, so I spent my first few weeks almost solely learning, reading and watching videos on the technology. Having coding experience definitely helped here. Being familiar with the terminal I was able to do things like create containers and deploy an app to a cluster without being overwhelmed. There’s no better way to learn than by doing! Kubernetes and containers are a pretty demanding domain to learn, as it can very technical. It was crucial to not only learn about our users but to have a fundamental understanding of the technology itself.
        </br></br>
        <h4 class="web__item-par-heading">Workshop</h4>
        <p class="web__item-text">
          Since we we're a brand new team the first thing we wanted to do was a Design Thinking Workshop. This allowed us to get everyone (VP, Marketing, Engineers, Product Manager, and Design) in a room together to begin defining our experience. Us designers are based in Austin, TX while the rest of the team is in Raleigh, NC, so it was also a good opportunity to put faces to Slack avatars.
				</p></br>
        <p class="web__item-text">
          We had about a day and a half, and in that time we did Empathy Mapping, Scenario mapping (based on the CLI experience at the time), Need Statements, Writing Hills, and making an Experience Based Roadmap. In the research we did the week before we had tentatively decided on two main personas, Brad and Josh. In a nutshell, Brad was more repsonsible for the development of apps inside the cluster, while Josh's main concerns are more with the cluster itself.
        </p>
        </br>
        <p class="web__item-text">
          <a href="../../img/workshop-scenario.jpg" target="_blank"><img class="workshop__photo" src="../../img/workshop-scenario.jpg" alt=""></a>
          </br>
          <a href="../../img/workshop-2.jpg" target="_blank"><img class="workshop__photo" src="../../img/workshop-2.jpg" alt=""></a>
          </br>
          <a href="../../img/workshop-3.jpg" target="_blank"><img class="workshop__photo" src="../../img/workshop-3.jpg" alt=""></a>
          </br>
          <a href="../../img/workshop-4.jpg" target="_blank"><img class="workshop__photo" src="../../img/workshop-4.jpg" alt=""></a>

          </br></br>
          Going through the Scenario Mapping helped everyone not just understand what a user is actually doing, but why they are, how they feel about it, and when they would do certain tasks. This was also a great time to pick the brains
          of our engineers to understand the architectural decisions they've made and if they truly align with user needs.
        </p>
        </br>
        <p class="web__item-text">
          Scenario mapping combined with empathy mapping allowed us as a team to view our users not just as job titles and techincal roles, but as real people with thoughts and feelings. Discussing what they say, do, think and feel humanizes our users and helps us understand their feelings.
        </p>
        </br>
        <p class="web__item-text">
          After going through several of these design exercies we then wrote our hills. If you're not familiar with hills, you can read about them <a href="https://www.ibm.com/design/thinking/keys/hills/" target="_blank">here</a>.
          In short, hills turn users’ needs into project goals, helping your team align around a common understanding of the intended outcomes to achieve.
          The three hills we decided on we're centered around Creating, Managing, and Deploying. These would act as our "North Star" in the coming months.
        </p>
        </br>
        <p class="web__item-text">
          1) Josh, a lead developer, can create a Kubernetes cluster and attach persistent storage for his developers to use. He has a clear understanding of cost during this process.
        </br></br>
        2) Josh can view the overall health of the nodes of the cluster. He can scale the nodes as well as update the version of Kubernetes.
        </br></br>
        3) Brad can access the cluster and add pod workloads. He can make claims against the attached storage.
        </p>
        </br>
        <p class="web__item-text">
          We then used the rest of the workshop to scope our "minimum delightful experience" based on the user journeys we had gone through. We got a rough idea of what we needed to accomplish in the next 3 months before our public beta release. Getting everyone on the same page and thinking about our users got us prepared for the work ahead.
        </p>
        </br>
        <h4 class="web__item-par-heading">Information Architecture</h4>
        <p class="web__item-text">
          Now that we had our personas and basic user journeys decided upon, I started to map out the experience before diving into the actual interface design. This allowed our team to focus on the overall experience, and also give our engineering team an idea of the initial routes & views that would be needed for the application.
        </p>
        </br>
        <a href="../../img/ia-containerworld-3.png" target="_blank"><img class="workshop__photo" src="../../img/ia-containerworld-3.png" alt=""></a>
        </br>
        <p class="web__item-text">
          I felt it made sense to have the first flow I mapped be the user's initial flow itself: logging in and first time use. The user would go from the marketing page, to "Container World" (our nickname for our service's home view), and then jump into creating a cluster, to then seeing their cluster's details.
        </p>
        </br>
        <a href="../../img/ia-containerworld-1.png" target="_blank"><img class="workshop__photo" src="../../img/ia-containerworld-1.png" alt=""></a>
        </br>
        <p class="web__item-text">We then worked together as a team to decide our MVP, and what views would be necessary to accomplish that. For our beta, we launched with Clusters and Containers, later adding Registry and then Solutions. Containers already existed within the platform, and Clusters was a no-brainer to include from the beginning.</p>
        </br>
        <a href="../../img/ia-containerworld-2.png" target="_blank"><img class="workshop__photo" src="../../img/ia-containerworld-2.png" alt=""></a>
        </br>
        <p class="web__item-text">
          Finally, I created a detailed IA that included every possible scenario and path, including all the logic and necessary empty states. This would act as our vision for the future, knowing that this amount of both design and engineering work would take months to accomplish. It allowed our team, from offering management, executives, engineering, content and design to align on a path forward. We were now ready to start designing the actual experiences and interfaces necessary for the user journeys.
        </p>
        </br>
        <h4 class="web__item-par-heading">My Role</h4>
        <p class="web__item-text">This project really allowed me to use all my skills: visual design, user experience, prototyping and front end development. I led the UI design effort of our team of 4 people. My process generally went like this: Learn user needs with user research, sketch out some low-fidelity wireframes, use our <a href="http://carbondesignsystem.com/" target="_blank">component library</a> in Sketch to quickly create a high-fidelity UI, and then prototype with Framer or code. These assets would then be user tested with 3-5 people and I would take the feedback, iterate, and repeat.</p></br>
        <p class="web__item-text">Once we were confident with the overall direction of our designs, we would try to get in production code as quickly as possible. Having a strong background in front end development enabled me to communicate our design intent, contribute production code, and act as a sort of liasion for engineering to communicate technical limitations.</p>
      </br>
      <h4 class="web__item-par-heading">Visual Design</h4>
      <p class="web__item-text">Here are some of the screens I ended up doing the visual design for:</p>
      </br>
      <a href="../../img/betamodal-1.png" target="_blank"><img class="workshop__photo" src="../../img/betamodal-1.png" alt=""></a>
      </br>
      <p class="web__item-text centered">This was the very first screen users would see when they landed on the home view of our service.</p>
      </br>
      <a href="../../img/config-1.png" target="_blank"><img class="workshop__photo" src="../../img/config-1.png" alt=""></a>
      </br>
      <p class="web__item-text centered">Configuring options on a cluster</p>
      </br>
      <a href="../../img/config-2.png" target="_blank"><img class="workshop__photo" src="../../img/config-2.png" alt=""></a>
      </br>
      <p class="web__item-text centered">Configuration upgrade screen</p>
      </br>
      <a href="../../img/emptystate-1.png" target="_blank"><img class="workshop__photo" src="../../img/emptystate-1.png" alt=""></a>
      </br>
      <p class="web__item-text centered">Example of an empty state</p>
      </br>
      <a href="../../img/gettingstarted-1.png" target="_blank"><img class="workshop__photo" src="../../img/gettingstarted-1.png" alt=""></a>
      </br>
      <p class="web__item-text centered">Getting Started page (concept)</p>
      </br>
      <a href="../../img/overview-1.png" target="_blank"><img class="workshop__photo" src="../../img/overview-1.png" alt=""></a>
      </br>
      <p class="web__item-text centered">Cluster Overview</p>
      </br>
      <a href="../../img/solutions-1.png" target="_blank"><img class="workshop__photo" src="../../img/solutions-1.png" alt=""></a>
      </br>
      <p class="web__item-text centered">Solutions catalog</p>
      </br>
      <a href="../../img/tutorials-1.png" target="_blank"><img class="workshop__photo" src="../../img/tutorials-1.png" alt=""></a>
      </br>
      <p class="web__item-text centered">Cluster Tutorials</p>
      </br>
      <a href="../../img/workernodes-1.png" target="_blank"><img class="workshop__photo" src="../../img/workernodes-1.png" alt=""></a>
      </br>
      <p class="web__item-text centered">Worker Nodes</p>




  	</div>
  <% include ../../global/scripts.ejs %>
  </body>
</html>
