<!DOCTYPE html>
<html>
  <head><% include ../../global/head.ejs %></head>
  <body class="blue-bg web__items bluemix framer-article">
  <% include ../../global/header.ejs %>
  <% include ../work-heading.ejs %>
  <div class="web__item-container">
    <h1 class="web__item-header">Code 101 at IBM Design</h1>
    <p class="web__item-text award">Teaching designers the fundamentals of front end development</p>
    <div class="web__item-monitor">
      <img src="../../img/monitor-code101.png" alt=""class="monitor__web-item">
    </div>
    <div class="web__item-content">
      </br>
      <p class="web__item-text">
        My first 3 months at IBM we're spent in "IBM Design Bootcamp", where 35 other new designers and I worked together on micro projects for various IBM products.
        This was the first time a majority of the designers had worked with front end developers, and they voiced a desire to both learn front end themselves and to learn what it's like from our perspective as devs.
      </p>
      </br>
      <p class="web__item-text">
        Once bootcamp ended I approached the leadership of the studio and proposed my idea of a 8 week course, open to anyone in the studio, who wanted to learn the basics of front end. It was greeted with enthusiasm and was given the green light.
      </p>
      </br>
      <p class="web__item-text">
        Now I just had to figure out, how do you teach a group of designers with no coding experience the basics of front end development?
      </p>
      </br>
      <p class="web__item-text">
        During our Bootcamp we had a developer come in and do a "1 day hackathon" on front end skills. While the intention was pure, it ended up with 30+ designers sitting stunned in their chairs trying to grasp things like Sass variables, git commands in the terminal and designing in the browser. As you might imagine, people who don't even know what a div is had a hard time.
      </p>
      </br>
      <p class="web__item-text">
      I tried to remember what it was like the first time I opened up a blank text editor a few years ago. It can be a daunting and frustrating experience. I decided to take a step back and focus on the fundamentals of HTML and CSS, while explaining concepts such as git at a high level. During the courses we used CodePen extensively, which allowed the designers to instantly see their code come to life. They didn't have to install or compile anything, which gave them a quick win and some confidence to keep going.
      You can see some of the code exercises <a href="https://codepen.io/collection/ANqpQk/" target="_blank">here</a>. We would also post small daily challenges to our Slack channel, which helped keep people engaged and consistently coding.
      </p>
      </br>
      <p class="web__item-text">Our 8 weeks consisted of the following topics:</p>
      </br>
      <ul>
        <li>Intro & HTML tags, CSS properties</li>
        <li>CSS Box Model</li>
        <li>CSS Selectors</li>
        <li>CSS Display & Positioning</li>
        <li>Typography</li>
        <li>HTML Documents & Local projects</li>
        <li>What is the terminal?</li>
        <li>Final projects</li>
      </ul>
      </br>
      <img src="../../img/code101.jpg" class="workshop__photo" alt="">
      <p class="web__item-text centered">One of our classes in session</p>
      </br>
      <p class="web__item-text">
      I recruited some fellow devs to help out as "teaching assistants" during the courses, so there was always someone to help out with questions. After 8 weeks designers had enough knowledge to build out a website, which would be their final projects.
      There was a pretty wide range of skill levels, so the TA's would help some people with responsive design and jQuery, while others helped out with more basic HTML & CSS issues. We ended up adding 2 weeks for time to work on the sites and present their final work.
      </p>
      </br>
      <p class="web__item-text">
        It was really fun to see people grow their skills over time, seeing them excited every week, and having them pester me to hurry up and post the daily challenge in the Slack channel.
        Code 101 ended up being packaged up as a course and was taught by other front developers in other IBM Studios across the world.
      </p>
    </div>
  </div>
  <% include ../../global/scripts.ejs %>
  </body>
  </html>
