<!DOCTYPE html>
<html>
  <head><% include ../../global/head.ejs %></head>
  <body class="blue-bg web__items bluemix">
  <% include ../../global/header.ejs %>
  <% include ../work-heading.ejs %>

  	<div class="web__item-container">
  		<h1 class="web__item-header">Get Started on IBM Bluemix</h1>
      <p class="web__item-text award">Recipient of 2016 IBM Outstanding Technical Achievement Award</p>
  		<!-- <p class="web__item-expand">Click to view</p> -->
  		<div class="web__item-monitor">
  			<!-- <img src="../../img/arrow.svg" alt="" class="arrow"> -->
  			<img src="../../img/monitor-get-started.png" alt=""class="monitor__web-item">
  			<!-- <img src="../../img/arrow.svg" alt="" class="arrow"> -->
			</div>
      <!-- <img class="web__project-view" src="img/bluemix-onboard.jpg" alt=""> -->
			<div class="web__item-content" id="bluemix-body">
				<h2 class="web__item-subheading">How can we empower our users to be successful?</h2>
				<p class="web__item-text">
        As a platform for developers we give our users hundreds of ways to build, deploy and innovate with their applications. You can do really amazing things with the Internet of Things, Watson and way more. But before you can add artificial intelligence into your application, you need to learn some basic skills.</p>
      </br><h4 class="web__item-par-heading">From talking to our users and using analytics, we found:</h4>
      <ul>
        <li>Less than half of our first time users have productive use</li>
        <li>Only a third of first time users deployed an application</li>
        <li>With so many things you can do, users get confused and don't know where to even start</li>
        <li>We have a very short time (matter of days) to empower our new users</li>
        <li>Lack of examples, guides and documentation leaves people feeling helpless</li>
      </ul>
				</br>
        <h4 class="web__item-par-heading">Hypothesis:</h4>
        <p class="web__item-text">
				If we provide new users with an easy, consumable guide to help them get started, we'll see improvements in our trial usage and retention rate. We can then use these results to gather resources for a large scale "Getting Started" project.
				</p></br>
        <h4 class="web__item-par-heading">Content First Design</h4>
        <p class="web__item-text">
				For the majority of the project it was myself designing and developing, while working with a product manager. We were grateful to get content from a developer that we could use as a starting off point for our guide.
        <img src="../../img/guide-content.png" class="guide__image">
        I wanted to focus on the content before I even started any interface design. The first draft of the guide was 4,000 words and would over 17 minutes just to read, let alone complete.
      </br></br>I cut that down to 800 words, focusing just on the essentials. Now that I had edited it down to a reasonable time, I was ready to do some user testing with just the word document. I really wanted to make sure the content was perfect before jumping into the design and coding stages.

    </br></br>In total I did 5 user tests with developers, in a round of 2, 2 and 1, with editing and making changes in between.
    I learned lots of things, some bad and some good.
    One thing I consistently saw was how excited people would get when they had a quick, successful experience.
    This instilled confidence and they wanted to do more with the product.
        </p>
      </br>
        <h4 class="web__item-par-heading">Design and Implementation</h4>
        <p class="web__item-text">

        </p>
			</div>
  	</div>
  <% include ../../global/scripts.ejs %>
  </body>
</html>
