<!DOCTYPE html>
<html>
  <head><% include ../../global/head.ejs %></head>
  <body class="blue-bg web__items bluemix framer-article">
  <% include ../../global/header.ejs %>
  <% include ../work-heading.ejs %>
  <div class="web__item-container">
    <h1 class="web__item-header">Automated development pipeline</h1>
    <p class="web__item-text award">Creating an automated GitHub to Docker Cloud pipeline</p>
    <div class="web__item-monitor">
      <img src="../../img/monitor-docker.png" alt=""class="monitor__web-item">
    </div>
    <div class="web__item-content">
      </br>
      <p class="web__item-text">
        About halfway through making my portfolio I realized.."I'm going to have to figure out how to get this thing live on the internet." In the past I've used Cloud Foundry to host Node apps, but I wanted to see what else was out there.
        After a few hours of doing some research, I was really interested in what Docker Cloud has to offer. For the past year or so I've been learning the ecosystem of Docker (and Kubernetes) so it seemed like a good fit. Also, I wanted to learn how to containerize an application.
        I ended up with my application live on my domain, which all starts with pushing to my GitHub repo's master branch, which then triggers a build of a new container image on Docker Cloud, which is running on a Digital Ocean server.
      </p>
      </br>
      <p class="web__item-text">
        The first thing you're going to want to do is 
      </p>
      </br>
      <p class="web__item-text">
      </p>
    </div>
  </div>
  <% include ../../global/scripts.ejs %>
  </body>
  </html>
