<!DOCTYPE html>
<html>
  <head><% include ../../global/head.ejs %></head>
  <body class="blue-bg web__items bluemix framer-article">
  <% include ../../global/header.ejs %>
  <% include ../work-heading.ejs %>
  <div class="web__item-container">
    <h1 class="web__item-header">Docker</h1>
    <div class="web__item-content" id="bluemix-body">
      here's some docker content
    </div>
  </div>
  <% include ../../global/scripts.ejs %>
  </body>
  </html>
