.about-me {
  background: #963484; }
  .about-me main {
    color: #fff; }

.about-me__header {
  height: 360px; }
  .about-me__header .about-me__nav {
    display: block;
    padding-top: 70px;
    text-align: center; }
  .about-me__header .about-me__nav-item {
    display: inline;
    font-size: 2.2rem;
    font-weight: 600;
    padding: 0 1.2rem 0 1.2rem;
    opacity: 0.5; }
  .about-me__header .about-me__nav-item-active {
    opacity: 1; }

.article__content {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6; }

.how__nav {
  display: block;
  width: 1080px;
  margin: 0 auto;
  padding-top: 60px; }

.how__nav-item {
  display: inline;
  text-align: center;
  float: left;
  padding: 0 3.5rem 0 3.5rem;
  font-weight: 600;
  font-size: 1.4rem;
  opacity: 0.5; }

.how__nav-item-active {
  opacity: 1; }

.how__nav-item-icon {
  display: block;
  width: 90px;
  padding-bottom: .8rem; }
