.animate-container {
	width: 280px;
	height: 299px;
	cursor: pointer;
	position: relative;
	margin: 0 auto;
	display: block;
}

.left-bar, .right-bar {
	width: 6px;
	height: 42px;
	background: #ffffff;
	margin: 2px;
	position: absolute;
}

.left-bar {
	left: 0;
	top: 180px;
	animation: left-bar 3000ms infinite;
}

.right-bar {
	right: 0;
	top: 120px;
	animation: right-bar 3000ms infinite;
}

.left-bar-small {
	
}

.right-bar-small {
	
}

.ball-small {

}

.ball {
	width: 6px;
	height: 6px;
	background: #ffffff;
	position: absolute;
	left: 130px;
	top: 120px;
	animation: ball 3000ms infinite;
	animation-timing-function: linear;
}

@keyframes right-bar {
  0%  { transform: translateY(-60px);}
  25% { transform: translateY(96px);}
  50% { transform: translateY(-60px);}
  75% { transform: translateY(96px);}
  100% { transform: translateY(-60px);}
}

@keyframes left-bar {
  0%  { transform: translateY(-80px);}
  25% { transform: translateY(0px);}
  50% { transform: translateY(22px);}
  75% { transform: translateY(-56px);}
  100% { transform: translateY(-80px);}
}

@keyframes ball {
  0%  { transform: translateX(-122px)translateY(0px);}
  25% { transform: translateX(136px)translateY(100px);}
  50% { transform: translateX(-122px)translateY(100px);}
  75% { transform: translateX(136px)translateY(100px);}
  100% { transform: translateX(-122px)translateY(0px);}
}




