.animate-container {
	width: 280px;
	height: 260px;
	border: 1px solid black;
	position: relative;
	margin: 0 auto;
	display: block;
}


.left-bar, .right-bar {
	width: 6px;
	height: 42px;
	background: #ffffff;
	margin: 2px;
	position: absolute;
}

.left-bar {
	left: 0;
	top: 210px;
	animation: left-bar 1600ms infinite;
}

.right-bar {
	right: 0;
	top: 120px;
	animation: right-bar 1600ms infinite;
}

.ball {
	width: 6px;
	height: 6px;
	background: #ffffff;
	position: absolute;
	left: 130px;
	top: 120px;
	animation: ball 1600ms infinite;
}



@keyframes right-bar {
  0%  { transform: translateY(0px);}
  50% { transform: translateY(-120px);}
  100% { transform: translateY(0px);}
}

@keyframes left-bar {
  0%  { transform: translateY(-110px);}
  50% { transform: translateY(0px);}
  100% { transform: translateY(-110px);}
}

@keyframes ball {
  0%  { transform: translateX(-122px)translateY(0px);}
  50% { transform: translateX(136px)translateY(-100px);}
  100% { transform: translateX(-122px);}
}